Apache Nifi/intermediate/intermediate.json
{"flowContents":{"identifier":"876b9190-1587-37b2-b727-d98e4d51869f","instanceIdentifier":"76ff7b22-0198-1000-8023-259dae04df8c","name":"intermediate","comments":"","position":{"x":-200.0,"y":-472.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"b2c05d04-4064-386e-83d1-b3347fe7275f","instanceIdentifier":"76de7fd7-0198-1000-48ac-8e3359b97600","name":"UpdateAttribute","comments":"","position":{"x":-184.0,"y":360.0},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"2.5.0"},"properties":{"Delete Attributes Expression":null,"filename":"data.${now():format(\"yyyy-MM-dd_HH-mm-ss\")}.csv","Store State":"Do not store state","canonical-value-lookup-cache-size":"100","Stateful Variables Initial Value":null},"propertyDescriptors":{"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"filename":{"name":"filename","displayName":"filename","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false,"dynamic":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"876b9190-1587-37b2-b727-d98e4d51869f"},{"identifier":"c8bbdb07-77ef-3efc-a174-827ea7a67657","instanceIdentifier":"76c20a6b-0198-1000-3f59-39e1b8629eca","name":"GetFile","comments":"","position":{"x":-200.0,"y":-472.0},"type":"org.apache.nifi.processors.standard.GetFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.5.0"},"properties":{"Keep Source File":"false","Minimum File Age":"0 sec","Polling Interval":"0 sec","Input Directory":"C:\\Apache Nifi Showcase\\intermediate\\input_csv","Maximum File Age":null,"Batch Size":"10","Maximum File Size":null,"Minimum File Size":"0 B","Ignore Hidden Files":"true","Recurse Subdirectories":"true","File Filter":"[^\\.].*","Path Filter":null},"propertyDescriptors":{"Keep Source File":{"name":"Keep Source File","displayName":"Keep Source File","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Minimum File Age":{"name":"Minimum File Age","displayName":"Minimum File Age","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Polling Interval":{"name":"Polling Interval","displayName":"Polling Interval","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Input Directory":{"name":"Input Directory","displayName":"Input Directory","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum File Age":{"name":"Maximum File Age","displayName":"Maximum File Age","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Batch Size":{"name":"Batch Size","displayName":"Batch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum File Size":{"name":"Maximum File Size","displayName":"Maximum File Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Minimum File Size":{"name":"Minimum File Size","displayName":"Minimum File Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Ignore Hidden Files":{"name":"Ignore Hidden Files","displayName":"Ignore Hidden Files","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Recurse Subdirectories":{"name":"Recurse Subdirectories","displayName":"Recurse Subdirectories","identifiesControllerService":false,"sensitive":false,"dynamic":false},"File Filter":{"name":"File Filter","displayName":"File Filter","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Path Filter":{"name":"Path Filter","displayName":"Path Filter","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"876b9190-1587-37b2-b727-d98e4d51869f"},{"identifier":"7be08103-0198-1000-7b28-6b62bc6b8e58","instanceIdentifier":"f14a9040-303a-3d7f-73d2-3abaae1e8c78","name":"UpdateAttribute","comments":"","position":{"x":1200.0,"y":352.0},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"2.5.0"},"properties":{"Delete Attributes Expression":null,"filename":"home_appliances.${now():format(\"yyyy-MM-dd_HH-mm-ss\")}.csv","Store State":"Do not store state","canonical-value-lookup-cache-size":"100","Stateful Variables Initial Value":null},"propertyDescriptors":{"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"filename":{"name":"filename","displayName":"filename","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false,"dynamic":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"876b9190-1587-37b2-b727-d98e4d51869f"},{"identifier":"7be08104-0198-1000-4d00-9f33751d4955","instanceIdentifier":"23b65f74-1d75-333e-0356-14e27e454ae1","name":"PutFile","comments":"","position":{"x":1216.0,"y":560.0},"type":"org.apache.nifi.processors.standard.PutFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.5.0"},"properties":{"Group":null,"Owner":null,"Create Missing Directories":"true","Permissions":null,"Maximum File Count":null,"Last Modified Time":null,"Directory":"C:\\Apache Nifi Showcase\\intermediate\\output_csv\\home_appliances","Conflict Resolution Strategy":"fail"},"propertyDescriptors":{"Group":{"name":"Group","displayName":"Group","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Owner":{"name":"Owner","displayName":"Owner","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Create Missing Directories":{"name":"Create Missing Directories","displayName":"Create Missing Directories","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Permissions":{"name":"Permissions","displayName":"Permissions","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum File Count":{"name":"Maximum File Count","displayName":"Maximum File Count","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Last Modified Time":{"name":"Last Modified Time","displayName":"Last Modified Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Directory":{"name":"Directory","displayName":"Directory","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Conflict Resolution Strategy":{"name":"Conflict Resolution Strategy","displayName":"Conflict Resolution Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"876b9190-1587-37b2-b727-d98e4d51869f"},{"identifier":"76eafac4-0198-1000-30dc-0bd1a9d58620","instanceIdentifier":"16a3af8b-0ebd-3736-06dc-57e09146ad82","name":"UpdateAttribute","comments":"","position":{"x":392.0,"y":-288.0},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"2.5.0"},"properties":{"Delete Attributes Expression":null,"filename":"invalidData.${now():format(\"yyyy-MM-dd_HH-mm-ss\")}.csv","Store State":"Do not store state","canonical-value-lookup-cache-size":"100","Stateful Variables Initial Value":null},"propertyDescriptors":{"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"filename":{"name":"filename","displayName":"filename","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false,"dynamic":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"876b9190-1587-37b2-b727-d98e4d51869f"},{"identifier":"7be07dbc-0198-1000-0383-1b77f16ba228","instanceIdentifier":"1e94175c-9a92-33a2-4ef2-0ab2263a2cd2","name":"UpdateAttribute","comments":"","position":{"x":808.0,"y":352.0},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"2.5.0"},"properties":{"Delete Attributes Expression":null,"filename":"electronics.${now():format(\"yyyy-MM-dd_HH-mm-ss\")}.csv","Store State":"Do not store state","canonical-value-lookup-cache-size":"100","Stateful Variables Initial Value":null},"propertyDescriptors":{"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"filename":{"name":"filename","displayName":"filename","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false,"dynamic":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"876b9190-1587-37b2-b727-d98e4d51869f"},{"identifier":"00b649b5-e44c-3dea-8aa4-0a79762b038b","instanceIdentifier":"7bddc81e-0198-1000-2825-5431f04056ae","name":"QueryRecord","comments":"","position":{"x":408.0,"y":136.0},"type":"org.apache.nifi.processors.standard.QueryRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.5.0"},"properties":{"dbf-default-precision":"10","electronics":"SELECT * FROM FLOWFILE WHERE category_name = 'Electronics'","homeappliances":"SELECT * FROM FLOWFILE WHERE category_name = 'Home Appliances'","record-writer":"db244f4b-7e25-3bd2-a6dd-408bb8540fba","record-reader":"cdf1f6b5-883b-32b3-97fd-2f8e5bd066a7","include-zero-record-flowfiles":"true","clothing":"SELECT * FROM FLOWFILE WHERE category_name = 'Clothing'","dbf-default-scale":"0"},"propertyDescriptors":{"dbf-default-precision":{"name":"dbf-default-precision","displayName":"Default Decimal Precision","identifiesControllerService":false,"sensitive":false,"dynamic":false},"electronics":{"name":"electronics","displayName":"electronics","identifiesControllerService":false,"sensitive":false,"dynamic":true},"homeappliances":{"name":"homeappliances","displayName":"homeappliances","identifiesControllerService":false,"sensitive":false,"dynamic":true},"record-writer":{"name":"record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"record-reader":{"name":"record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"include-zero-record-flowfiles":{"name":"include-zero-record-flowfiles","displayName":"Include Zero Record FlowFiles","identifiesControllerService":false,"sensitive":false,"dynamic":false},"clothing":{"name":"clothing","displayName":"clothing","identifiesControllerService":false,"sensitive":false,"dynamic":true},"dbf-default-scale":{"name":"dbf-default-scale","displayName":"Default Decimal Scale","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"876b9190-1587-37b2-b727-d98e4d51869f"},{"identifier":"d038db55-55b7-31dd-a0cb-1c97d16fe9cd","instanceIdentifier":"7706e84c-0198-1000-90b9-1c6dcc64fdf3","name":"LookupRecord","comments":"","position":{"x":-192.0,"y":-80.0},"type":"org.apache.nifi.processors.standard.LookupRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.5.0"},"properties":{"result-contents":"record-fields","routing-strategy":"route-to-success","Root Record Path":null,"record-path-lookup-miss-result-cache-size":"0","result-record-path":"/","record-writer":"d837a902-ea69-3f1f-9bbb-0b145e412479","record-reader":"cdf1f6b5-883b-32b3-97fd-2f8e5bd066a7","lookup-service":"79cf0dba-7f3b-3764-986a-f724e62aba3d","record-update-strategy":"use-property","key":"/category_code"},"propertyDescriptors":{"result-contents":{"name":"result-contents","displayName":"Record Result Contents","identifiesControllerService":false,"sensitive":false,"dynamic":false},"routing-strategy":{"name":"routing-strategy","displayName":"Routing Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Root Record Path":{"name":"Root Record Path","displayName":"Root Record Path","identifiesControllerService":false,"sensitive":false,"dynamic":false},"record-path-lookup-miss-result-cache-size":{"name":"record-path-lookup-miss-result-cache-size","displayName":"Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"result-record-path":{"name":"result-record-path","displayName":"Result RecordPath","identifiesControllerService":false,"sensitive":false,"dynamic":false},"record-writer":{"name":"record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"record-reader":{"name":"record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"lookup-service":{"name":"lookup-service","displayName":"Lookup Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"record-update-strategy":{"name":"record-update-strategy","displayName":"Record Update Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"key":{"name":"key","displayName":"key","identifiesControllerService":false,"sensitive":false,"dynamic":true}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"876b9190-1587-37b2-b727-d98e4d51869f"},{"identifier":"76dacb61-0198-1000-b377-f058cd5fc073","instanceIdentifier":"8d274a07-43b8-340e-66f7-c40bb6a9b86b","name":"QueryRecord","comments":"","position":{"x":-200.0,"y":-280.0},"type":"org.apache.nifi.processors.standard.QueryRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.5.0"},"properties":{"dbf-default-precision":"10","null":"SELECT * FROM FLOWFILE WHERE product_name IS NULL OR price IS NULL OR category_code IS NULL OR stock IS NULL","notNull":"SELECT * FROM FLOWFILE WHERE product_name IS NOT NULL AND price IS NOT NULL AND category_code IS NOT NULL AND stock IS NOT NULL","record-writer":"d837a902-ea69-3f1f-9bbb-0b145e412479","record-reader":"cdf1f6b5-883b-32b3-97fd-2f8e5bd066a7","include-zero-record-flowfiles":"true","dbf-default-scale":"0"},"propertyDescriptors":{"dbf-default-precision":{"name":"dbf-default-precision","displayName":"Default Decimal Precision","identifiesControllerService":false,"sensitive":false,"dynamic":false},"null":{"name":"null","displayName":"null","identifiesControllerService":false,"sensitive":false,"dynamic":true},"notNull":{"name":"notNull","displayName":"notNull","identifiesControllerService":false,"sensitive":false,"dynamic":true},"record-writer":{"name":"record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"record-reader":{"name":"record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"include-zero-record-flowfiles":{"name":"include-zero-record-flowfiles","displayName":"Include Zero Record FlowFiles","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbf-default-scale":{"name":"dbf-default-scale","displayName":"Default Decimal Scale","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"876b9190-1587-37b2-b727-d98e4d51869f"},{"identifier":"f3debd80-1cb1-33c6-8d98-9e8b9de31355","instanceIdentifier":"7bdaccaf-0198-1000-0d58-fb20db4b2d4d","name":"PutFile","comments":"","position":{"x":432.0,"y":568.0},"type":"org.apache.nifi.processors.standard.PutFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.5.0"},"properties":{"Group":null,"Owner":null,"Create Missing Directories":"true","Permissions":null,"Maximum File Count":null,"Last Modified Time":null,"Directory":"C:\\Apache Nifi Showcase\\intermediate\\output_csv\\clothing","Conflict Resolution Strategy":"fail"},"propertyDescriptors":{"Group":{"name":"Group","displayName":"Group","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Owner":{"name":"Owner","displayName":"Owner","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Create Missing Directories":{"name":"Create Missing Directories","displayName":"Create Missing Directories","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Permissions":{"name":"Permissions","displayName":"Permissions","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum File Count":{"name":"Maximum File Count","displayName":"Maximum File Count","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Last Modified Time":{"name":"Last Modified Time","displayName":"Last Modified Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Directory":{"name":"Directory","displayName":"Directory","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Conflict Resolution Strategy":{"name":"Conflict Resolution Strategy","displayName":"Conflict Resolution Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"876b9190-1587-37b2-b727-d98e4d51869f"},{"identifier":"b78efa12-ba3d-313a-b347-b41576265eb5","instanceIdentifier":"7bd9d155-0198-1000-5b6d-cb35e5508acb","name":"UpdateAttribute","comments":"","position":{"x":408.0,"y":360.0},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"2.5.0"},"properties":{"Delete Attributes Expression":null,"filename":"clothing.${now():format(\"yyyy-MM-dd_HH-mm-ss\")}.csv","Store State":"Do not store state","canonical-value-lookup-cache-size":"100","Stateful Variables Initial Value":null},"propertyDescriptors":{"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"filename":{"name":"filename","displayName":"filename","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false,"dynamic":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"876b9190-1587-37b2-b727-d98e4d51869f"},{"identifier":"882a251b-82ab-3836-9f88-6d3c4c9959f7","instanceIdentifier":"7b9a7a5a-0198-1000-0477-f25faecc8876","name":"UpdateRecord","comments":"","position":{"x":-192.0,"y":136.0},"type":"org.apache.nifi.processors.standard.UpdateRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.5.0"},"properties":{"/status":"processed","/processed_at":"${now():format(\"yyyy-MM-dd HH:mm:ss\")}","Record Writer":"db244f4b-7e25-3bd2-a6dd-408bb8540fba","Record Reader":"cdf1f6b5-883b-32b3-97fd-2f8e5bd066a7","Replacement Value Strategy":"literal-value"},"propertyDescriptors":{"/status":{"name":"/status","displayName":"/status","identifiesControllerService":false,"sensitive":false,"dynamic":true},"/processed_at":{"name":"/processed_at","displayName":"/processed_at","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Record Writer":{"name":"Record Writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Record Reader":{"name":"Record Reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Replacement Value Strategy":{"name":"Replacement Value Strategy","displayName":"Replacement Value Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"876b9190-1587-37b2-b727-d98e4d51869f"},{"identifier":"0b13db1d-6a03-3952-8c20-a3b926f19e74","instanceIdentifier":"76e825b7-0198-1000-643f-a653c188a905","name":"PutFile","comments":"","position":{"x":952.0,"y":-280.0},"type":"org.apache.nifi.processors.standard.PutFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.5.0"},"properties":{"Group":null,"Owner":null,"Create Missing Directories":"true","Permissions":null,"Maximum File Count":null,"Last Modified Time":null,"Directory":"C:\\Apache Nifi Showcase\\intermediate\\output_csv\\invalid data","Conflict Resolution Strategy":"fail"},"propertyDescriptors":{"Group":{"name":"Group","displayName":"Group","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Owner":{"name":"Owner","displayName":"Owner","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Create Missing Directories":{"name":"Create Missing Directories","displayName":"Create Missing Directories","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Permissions":{"name":"Permissions","displayName":"Permissions","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum File Count":{"name":"Maximum File Count","displayName":"Maximum File Count","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Last Modified Time":{"name":"Last Modified Time","displayName":"Last Modified Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Directory":{"name":"Directory","displayName":"Directory","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Conflict Resolution Strategy":{"name":"Conflict Resolution Strategy","displayName":"Conflict Resolution Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"876b9190-1587-37b2-b727-d98e4d51869f"},{"identifier":"7be07dbd-0198-1000-4005-9691bfc73b61","instanceIdentifier":"5f23ae54-97f9-328a-46dd-c5d8460e3105","name":"PutFile","comments":"","position":{"x":840.0,"y":568.0},"type":"org.apache.nifi.processors.standard.PutFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.5.0"},"properties":{"Group":null,"Owner":null,"Create Missing Directories":"true","Permissions":null,"Maximum File Count":null,"Last Modified Time":null,"Directory":"C:\\Apache Nifi Showcase\\intermediate\\output_csv\\electronics","Conflict Resolution Strategy":"fail"},"propertyDescriptors":{"Group":{"name":"Group","displayName":"Group","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Owner":{"name":"Owner","displayName":"Owner","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Create Missing Directories":{"name":"Create Missing Directories","displayName":"Create Missing Directories","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Permissions":{"name":"Permissions","displayName":"Permissions","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum File Count":{"name":"Maximum File Count","displayName":"Maximum File Count","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Last Modified Time":{"name":"Last Modified Time","displayName":"Last Modified Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Directory":{"name":"Directory","displayName":"Directory","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Conflict Resolution Strategy":{"name":"Conflict Resolution Strategy","displayName":"Conflict Resolution Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"876b9190-1587-37b2-b727-d98e4d51869f"},{"identifier":"c12bd695-ca63-38a5-b9e3-7a263d62d967","instanceIdentifier":"76c28c11-0198-1000-6366-de56d55de36c","name":"PutFile","comments":"","position":{"x":-184.0,"y":568.0},"type":"org.apache.nifi.processors.standard.PutFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.5.0"},"properties":{"Group":null,"Owner":null,"Create Missing Directories":"true","Permissions":null,"Maximum File Count":null,"Last Modified Time":null,"Directory":"C:\\Apache Nifi Showcase\\intermediate\\output_csv","Conflict Resolution Strategy":"fail"},"propertyDescriptors":{"Group":{"name":"Group","displayName":"Group","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Owner":{"name":"Owner","displayName":"Owner","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Create Missing Directories":{"name":"Create Missing Directories","displayName":"Create Missing Directories","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Permissions":{"name":"Permissions","displayName":"Permissions","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum File Count":{"name":"Maximum File Count","displayName":"Maximum File Count","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Last Modified Time":{"name":"Last Modified Time","displayName":"Last Modified Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Directory":{"name":"Directory","displayName":"Directory","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Conflict Resolution Strategy":{"name":"Conflict Resolution Strategy","displayName":"Conflict Resolution Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"876b9190-1587-37b2-b727-d98e4d51869f"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"ab61c80a-2265-3c63-ac27-5ea5207d7068","instanceIdentifier":"76ed8f4e-0198-1000-af7a-702a62f90b06","name":"","source":{"id":"76eafac4-0198-1000-30dc-0bd1a9d58620","type":"PROCESSOR","groupId":"876b9190-1587-37b2-b727-d98e4d51869f","name":"UpdateAttribute","comments":"","instanceIdentifier":"16a3af8b-0ebd-3736-06dc-57e09146ad82"},"destination":{"id":"0b13db1d-6a03-3952-8c20-a3b926f19e74","type":"PROCESSOR","groupId":"876b9190-1587-37b2-b727-d98e4d51869f","name":"PutFile","comments":"","instanceIdentifier":"76e825b7-0198-1000-643f-a653c188a905"},"labelIndex":0,"zIndex":10,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"876b9190-1587-37b2-b727-d98e4d51869f"},{"identifier":"7be08105-0198-1000-9304-a0d685faeaed","instanceIdentifier":"a158de8d-879d-3508-2c2f-d3c3f172df30","name":"","source":{"id":"7be08103-0198-1000-7b28-6b62bc6b8e58","type":"PROCESSOR","groupId":"876b9190-1587-37b2-b727-d98e4d51869f","name":"UpdateAttribute","comments":"","instanceIdentifier":"f14a9040-303a-3d7f-73d2-3abaae1e8c78"},"destination":{"id":"7be08104-0198-1000-4d00-9f33751d4955","type":"PROCESSOR","groupId":"876b9190-1587-37b2-b727-d98e4d51869f","name":"PutFile","comments":"","instanceIdentifier":"23b65f74-1d75-333e-0356-14e27e454ae1"},"labelIndex":0,"zIndex":16,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"876b9190-1587-37b2-b727-d98e4d51869f"},{"identifier":"a8885728-336c-34b0-926b-f371b063ad75","instanceIdentifier":"77070e3f-0198-1000-902d-65beb65d8056","name":"","source":{"id":"76dacb61-0198-1000-b377-f058cd5fc073","type":"PROCESSOR","groupId":"876b9190-1587-37b2-b727-d98e4d51869f","name":"QueryRecord","comments":"","instanceIdentifier":"8d274a07-43b8-340e-66f7-c40bb6a9b86b"},"destination":{"id":"d038db55-55b7-31dd-a0cb-1c97d16fe9cd","type":"PROCESSOR","groupId":"876b9190-1587-37b2-b727-d98e4d51869f","name":"LookupRecord","comments":"","instanceIdentifier":"7706e84c-0198-1000-90b9-1c6dcc64fdf3"},"labelIndex":0,"zIndex":11,"selectedRelationships":["notNull"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"876b9190-1587-37b2-b727-d98e4d51869f"},{"identifier":"d0567836-c722-34c6-ae6c-ead28a610a9f","instanceIdentifier":"7bdddcde-0198-1000-1394-dcaf1dc0f470","name":"","source":{"id":"882a251b-82ab-3836-9f88-6d3c4c9959f7","type":"PROCESSOR","groupId":"876b9190-1587-37b2-b727-d98e4d51869f","name":"UpdateRecord","comments":"","instanceIdentifier":"7b9a7a5a-0198-1000-0477-f25faecc8876"},"destination":{"id":"00b649b5-e44c-3dea-8aa4-0a79762b038b","type":"PROCESSOR","groupId":"876b9190-1587-37b2-b727-d98e4d51869f","name":"QueryRecord","comments":"","instanceIdentifier":"7bddc81e-0198-1000-2825-5431f04056ae"},"labelIndex":0,"zIndex":17,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"876b9190-1587-37b2-b727-d98e4d51869f"},{"identifier":"7cddd146-dcc9-3007-9b41-62d9a05ba578","instanceIdentifier":"7bdae066-0198-1000-bd71-8ed7a0aaa528","name":"","source":{"id":"b78efa12-ba3d-313a-b347-b41576265eb5","type":"PROCESSOR","groupId":"876b9190-1587-37b2-b727-d98e4d51869f","name":"UpdateAttribute","comments":"","instanceIdentifier":"7bd9d155-0198-1000-5b6d-cb35e5508acb"},"destination":{"id":"f3debd80-1cb1-33c6-8d98-9e8b9de31355","type":"PROCESSOR","groupId":"876b9190-1587-37b2-b727-d98e4d51869f","name":"PutFile","comments":"","instanceIdentifier":"7bdaccaf-0198-1000-0d58-fb20db4b2d4d"},"labelIndex":0,"zIndex":16,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"876b9190-1587-37b2-b727-d98e4d51869f"},{"identifier":"4bb6085c-6a19-3f2d-9224-c2671a232753","instanceIdentifier":"7b9acbef-0198-1000-6354-61a084dc56e9","name":"","source":{"id":"d038db55-55b7-31dd-a0cb-1c97d16fe9cd","type":"PROCESSOR","groupId":"876b9190-1587-37b2-b727-d98e4d51869f","name":"LookupRecord","comments":"","instanceIdentifier":"7706e84c-0198-1000-90b9-1c6dcc64fdf3"},"destination":{"id":"882a251b-82ab-3836-9f88-6d3c4c9959f7","type":"PROCESSOR","groupId":"876b9190-1587-37b2-b727-d98e4d51869f","name":"UpdateRecord","comments":"","instanceIdentifier":"7b9a7a5a-0198-1000-0477-f25faecc8876"},"labelIndex":0,"zIndex":12,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"876b9190-1587-37b2-b727-d98e4d51869f"},{"identifier":"7be07dbe-0198-1000-cc09-cc2270866f51","instanceIdentifier":"7c555d2e-c04e-31b5-f46e-524c67c719f3","name":"","source":{"id":"7be07dbc-0198-1000-0383-1b77f16ba228","type":"PROCESSOR","groupId":"876b9190-1587-37b2-b727-d98e4d51869f","name":"UpdateAttribute","comments":"","instanceIdentifier":"1e94175c-9a92-33a2-4ef2-0ab2263a2cd2"},"destination":{"id":"7be07dbd-0198-1000-4005-9691bfc73b61","type":"PROCESSOR","groupId":"876b9190-1587-37b2-b727-d98e4d51869f","name":"PutFile","comments":"","instanceIdentifier":"5f23ae54-97f9-328a-46dd-c5d8460e3105"},"labelIndex":0,"zIndex":16,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"876b9190-1587-37b2-b727-d98e4d51869f"},{"identifier":"9d04457b-d27e-313e-926c-3cde3d1088e0","instanceIdentifier":"76ed83b7-0198-1000-49cb-54a233c036cb","name":"","source":{"id":"76dacb61-0198-1000-b377-f058cd5fc073","type":"PROCESSOR","groupId":"876b9190-1587-37b2-b727-d98e4d51869f","name":"QueryRecord","comments":"","instanceIdentifier":"8d274a07-43b8-340e-66f7-c40bb6a9b86b"},"destination":{"id":"76eafac4-0198-1000-30dc-0bd1a9d58620","type":"PROCESSOR","groupId":"876b9190-1587-37b2-b727-d98e4d51869f","name":"UpdateAttribute","comments":"","instanceIdentifier":"16a3af8b-0ebd-3736-06dc-57e09146ad82"},"labelIndex":0,"zIndex":9,"selectedRelationships":["null"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"876b9190-1587-37b2-b727-d98e4d51869f"},{"identifier":"1b525037-e476-39b5-90f6-b83f6ccfcb1d","instanceIdentifier":"76daee0f-0198-1000-7aa5-2518905e714d","name":"","source":{"id":"c8bbdb07-77ef-3efc-a174-827ea7a67657","type":"PROCESSOR","groupId":"876b9190-1587-37b2-b727-d98e4d51869f","name":"GetFile","comments":"","instanceIdentifier":"76c20a6b-0198-1000-3f59-39e1b8629eca"},"destination":{"id":"76dacb61-0198-1000-b377-f058cd5fc073","type":"PROCESSOR","groupId":"876b9190-1587-37b2-b727-d98e4d51869f","name":"QueryRecord","comments":"","instanceIdentifier":"8d274a07-43b8-340e-66f7-c40bb6a9b86b"},"labelIndex":0,"zIndex":4,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"876b9190-1587-37b2-b727-d98e4d51869f"},{"identifier":"003f9341-e143-3c6b-8d08-22be3a93b5c0","instanceIdentifier":"7be16bbe-0198-1000-a15b-686524ea0477","name":"","source":{"id":"00b649b5-e44c-3dea-8aa4-0a79762b038b","type":"PROCESSOR","groupId":"876b9190-1587-37b2-b727-d98e4d51869f","name":"QueryRecord","comments":"","instanceIdentifier":"7bddc81e-0198-1000-2825-5431f04056ae"},"destination":{"id":"7be07dbc-0198-1000-0383-1b77f16ba228","type":"PROCESSOR","groupId":"876b9190-1587-37b2-b727-d98e4d51869f","name":"UpdateAttribute","comments":"","instanceIdentifier":"1e94175c-9a92-33a2-4ef2-0ab2263a2cd2"},"labelIndex":0,"zIndex":19,"selectedRelationships":["electronics"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"876b9190-1587-37b2-b727-d98e4d51869f"},{"identifier":"bb32254e-0c65-3394-9d36-719f8ecde8f2","instanceIdentifier":"7be1cc36-0198-1000-08b8-53cb324444f1","name":"","source":{"id":"00b649b5-e44c-3dea-8aa4-0a79762b038b","type":"PROCESSOR","groupId":"876b9190-1587-37b2-b727-d98e4d51869f","name":"QueryRecord","comments":"","instanceIdentifier":"7bddc81e-0198-1000-2825-5431f04056ae"},"destination":{"id":"7be08103-0198-1000-7b28-6b62bc6b8e58","type":"PROCESSOR","groupId":"876b9190-1587-37b2-b727-d98e4d51869f","name":"UpdateAttribute","comments":"","instanceIdentifier":"f14a9040-303a-3d7f-73d2-3abaae1e8c78"},"labelIndex":0,"zIndex":20,"selectedRelationships":["homeappliances"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"876b9190-1587-37b2-b727-d98e4d51869f"},{"identifier":"233f628d-0bb4-32c2-b588-641a63515c2c","instanceIdentifier":"7b9aef6d-0198-1000-9710-6f6891b90733","name":"","source":{"id":"882a251b-82ab-3836-9f88-6d3c4c9959f7","type":"PROCESSOR","groupId":"876b9190-1587-37b2-b727-d98e4d51869f","name":"UpdateRecord","comments":"","instanceIdentifier":"7b9a7a5a-0198-1000-0477-f25faecc8876"},"destination":{"id":"b2c05d04-4064-386e-83d1-b3347fe7275f","type":"PROCESSOR","groupId":"876b9190-1587-37b2-b727-d98e4d51869f","name":"UpdateAttribute","comments":"","instanceIdentifier":"76de7fd7-0198-1000-48ac-8e3359b97600"},"labelIndex":0,"zIndex":13,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"876b9190-1587-37b2-b727-d98e4d51869f"},{"identifier":"2ba9fa00-685c-3a58-9f0d-0871e1cc16a6","instanceIdentifier":"76dea09d-0198-1000-1bb3-1bcc471da0f3","name":"","source":{"id":"b2c05d04-4064-386e-83d1-b3347fe7275f","type":"PROCESSOR","groupId":"876b9190-1587-37b2-b727-d98e4d51869f","name":"UpdateAttribute","comments":"","instanceIdentifier":"76de7fd7-0198-1000-48ac-8e3359b97600"},"destination":{"id":"c12bd695-ca63-38a5-b9e3-7a263d62d967","type":"PROCESSOR","groupId":"876b9190-1587-37b2-b727-d98e4d51869f","name":"PutFile","comments":"","instanceIdentifier":"76c28c11-0198-1000-6366-de56d55de36c"},"labelIndex":0,"zIndex":8,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"876b9190-1587-37b2-b727-d98e4d51869f"},{"identifier":"12a00cf9-faec-3cec-9ec1-19981a0c6159","instanceIdentifier":"7bdeb636-0198-1000-26aa-e9b74e21041b","name":"","source":{"id":"00b649b5-e44c-3dea-8aa4-0a79762b038b","type":"PROCESSOR","groupId":"876b9190-1587-37b2-b727-d98e4d51869f","name":"QueryRecord","comments":"","instanceIdentifier":"7bddc81e-0198-1000-2825-5431f04056ae"},"destination":{"id":"b78efa12-ba3d-313a-b347-b41576265eb5","type":"PROCESSOR","groupId":"876b9190-1587-37b2-b727-d98e4d51869f","name":"UpdateAttribute","comments":"","instanceIdentifier":"7bd9d155-0198-1000-5b6d-cb35e5508acb"},"labelIndex":0,"zIndex":18,"selectedRelationships":["clothing"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"876b9190-1587-37b2-b727-d98e4d51869f"}],"labels":[{"identifier":"25a8d099-02ef-3af5-a09b-f06f33d6c044","instanceIdentifier":"7bfc9d29-0198-1000-5397-7dac16400c9d","position":{"x":-456.0,"y":-440.0},"label":"Import csv from input directory.","zIndex":1,"width":248.0,"height":72.0,"style":{"font-size":"20px"},"componentType":"LABEL","groupIdentifier":"876b9190-1587-37b2-b727-d98e4d51869f"},{"identifier":"eff031a5-5f8a-32c4-8d97-a10a185560a3","instanceIdentifier":"7bfe4a3f-0198-1000-7a6e-1bd2cb9b6d42","position":{"x":704.0,"y":-384.0},"label":"Save invalid data to invalid data directory.","zIndex":3,"width":288.0,"height":80.0,"style":{"font-size":"20px"},"componentType":"LABEL","groupIdentifier":"876b9190-1587-37b2-b727-d98e4d51869f"},{"identifier":"d58a2d84-816c-3a3e-a1ca-3f867a3dc9a6","instanceIdentifier":"7bffe4d8-0198-1000-9de1-44e3fdc19ad1","position":{"x":-472.0,"y":152.0},"label":"Add status and processed at timestamp.","zIndex":5,"width":240.0,"height":96.0,"style":{"font-size":"20px"},"componentType":"LABEL","groupIdentifier":"876b9190-1587-37b2-b727-d98e4d51869f"},{"identifier":"4fcf91a5-6d3d-3f20-9138-ac6ad888bb97","instanceIdentifier":"7bff5b77-0198-1000-5e75-ea26f33796e5","position":{"x":-464.0,"y":-64.0},"label":"Enrich category name via lookup.","zIndex":4,"width":232.0,"height":80.0,"style":{"font-size":"20px"},"componentType":"LABEL","groupIdentifier":"876b9190-1587-37b2-b727-d98e4d51869f"},{"identifier":"4d97936d-3ca9-3fc9-8b38-e62b0cc2afa8","instanceIdentifier":"7c013e13-0198-1000-becb-1074149e49ac","position":{"x":840.0,"y":144.0},"label":"Split file based on category name and save each csv to its own folder.","zIndex":7,"width":312.0,"height":96.0,"style":{"font-size":"20px"},"componentType":"LABEL","groupIdentifier":"876b9190-1587-37b2-b727-d98e4d51869f"},{"identifier":"0ceaa1ab-ff0a-3ceb-863a-2069ce109030","instanceIdentifier":"7bfd447f-0198-1000-cf21-b90cfceef4a9","position":{"x":-480.0,"y":-264.0},"label":"Filter invalid data (with empty values).","zIndex":2,"width":256.0,"height":88.0,"style":{"font-size":"20px"},"componentType":"LABEL","groupIdentifier":"876b9190-1587-37b2-b727-d98e4d51869f"},{"identifier":"0ba98411-781d-379b-82f8-644e369de051","instanceIdentifier":"7c009ebe-0198-1000-9352-b4def291439c","position":{"x":-480.0,"y":480.0},"label":"Save full output csv to output folder.","zIndex":6,"width":248.0,"height":96.0,"style":{"font-size":"20px"},"componentType":"LABEL","groupIdentifier":"876b9190-1587-37b2-b727-d98e4d51869f"}],"funnels":[],"controllerServices":[{"identifier":"cdf1f6b5-883b-32b3-97fd-2f8e5bd066a7","instanceIdentifier":"6bad67af-0198-1000-c5ad-471899cad2a6","name":"CSVReaderIntermediate","comments":"","type":"org.apache.nifi.csv.CSVReader","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"2.5.0"},"properties":{"schema-reference-reader":null,"ignore-csv-header":"false","schema-branch":null,"Trim double quote":"true","CSV Format":"custom","Quote Character":"\"","csvutils-allow-duplicate-header-names":"true","Value Separator":",","Record Separator":"\\n","Timestamp Format":null,"Escape Character":"\\","Date Format":null,"Null String":null,"Skip Header Line":"true","Trim Fields":"true","schema-name":"${schema.name}","schema-registry":null,"csv-reader-csv-parser":"commons-csv","Time Format":null,"Comment Marker":null,"schema-access-strategy":"schema-text-property","schema-version":null,"csvutils-character-set":"UTF-8","schema-text":"{\n  \"type\": \"record\",\n  \"name\": \"Product\",\n  \"fields\": [\n    { \"name\": \"product_id\", \"type\": \"int\" },\n    { \"name\": \"product_name\", \"type\": [\"null\", \"string\"] },\n    { \"name\": \"price\", \"type\": [\"null\", \"double\"] },\n    { \"name\": \"category_code\", \"type\": [\"null\", \"string\"] },\n    { \"name\": \"category_name\", \"type\": [\"null\", \"string\"] },\n    { \"name\": \"stock\", \"type\": [\"null\", \"int\"] }\n  ]\n}"},"propertyDescriptors":{"schema-reference-reader":{"name":"schema-reference-reader","displayName":"Schema Reference Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"ignore-csv-header":{"name":"ignore-csv-header","displayName":"Ignore CSV Header Column Names","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Trim double quote":{"name":"Trim double quote","displayName":"Trim double quote","identifiesControllerService":false,"sensitive":false,"dynamic":false},"CSV Format":{"name":"CSV Format","displayName":"CSV Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Quote Character":{"name":"Quote Character","displayName":"Quote Character","identifiesControllerService":false,"sensitive":false,"dynamic":false},"csvutils-allow-duplicate-header-names":{"name":"csvutils-allow-duplicate-header-names","displayName":"Allow Duplicate Header Names","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Value Separator":{"name":"Value Separator","displayName":"Value Separator","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Record Separator":{"name":"Record Separator","displayName":"Record Separator","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Escape Character":{"name":"Escape Character","displayName":"Escape Character","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Null String":{"name":"Null String","displayName":"Null String","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Skip Header Line":{"name":"Skip Header Line","displayName":"Treat First Line as Header","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Trim Fields":{"name":"Trim Fields","displayName":"Trim Fields","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false,"dynamic":false},"csv-reader-csv-parser":{"name":"csv-reader-csv-parser","displayName":"CSV Parser","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Comment Marker":{"name":"Comment Marker","displayName":"Comment Marker","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false,"dynamic":false},"csvutils-character-set":{"name":"csvutils-character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordReaderFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.5.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"76ff7b22-0198-1000-8023-259dae04df8c"},{"identifier":"79cf0dba-7f3b-3764-986a-f724e62aba3d","instanceIdentifier":"7703a9e0-0198-1000-3776-713a63812274","name":"CSVRecordLookupService","comments":"","type":"org.apache.nifi.lookup.CSVRecordLookupService","bundle":{"group":"org.apache.nifi","artifact":"nifi-lookup-services-nar","version":"2.5.0"},"properties":{"Escape Character":"\\","lookup-key-column":"category_code","csv-file":"C:\\Apache Nifi Showcase\\intermediate\\lookup_data\\category_lookup.csv","Trim Fields":"true","CSV Format":"default","ignore-duplicates":"true","Quote Character":"\"","Comment Marker":null,"Value Separator":",","Character Set":"UTF-8","Quote Mode":"MINIMAL"},"propertyDescriptors":{"Escape Character":{"name":"Escape Character","displayName":"Escape Character","identifiesControllerService":false,"sensitive":false,"dynamic":false},"lookup-key-column":{"name":"lookup-key-column","displayName":"Lookup Key Column","identifiesControllerService":false,"sensitive":false,"dynamic":false},"csv-file":{"name":"csv-file","displayName":"CSV File","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}},"Trim Fields":{"name":"Trim Fields","displayName":"Trim Fields","identifiesControllerService":false,"sensitive":false,"dynamic":false},"CSV Format":{"name":"CSV Format","displayName":"CSV Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"ignore-duplicates":{"name":"ignore-duplicates","displayName":"Ignore Duplicates","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Quote Character":{"name":"Quote Character","displayName":"Quote Character","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Comment Marker":{"name":"Comment Marker","displayName":"Comment Marker","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Value Separator":{"name":"Value Separator","displayName":"Value Separator","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Character Set":{"name":"Character Set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Quote Mode":{"name":"Quote Mode","displayName":"Quote Mode","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.lookup.LookupService","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.5.0"}},{"type":"org.apache.nifi.lookup.RecordLookupService","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.5.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"76ff7b22-0198-1000-8023-259dae04df8c"},{"identifier":"db244f4b-7e25-3bd2-a6dd-408bb8540fba","instanceIdentifier":"7ba530b0-0198-1000-ce91-f49b84440742","name":"CSVRecordSetWriterProcess","comments":"","type":"org.apache.nifi.csv.CSVRecordSetWriter","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"2.5.0"},"properties":{"schema-reference-reader":null,"schema-branch":null,"CSV Format":"custom","Include Header Line":"true","schema-cache":null,"Escape Character":"\\","Date Format":null,"Null String":null,"Trim Fields":"true","schema-registry":null,"Time Format":null,"Comment Marker":null,"schema-access-strategy":"schema-text-property","schema-version":null,"csvutils-character-set":"UTF-8","schema-text":"{\n  \"type\": \"record\",\n  \"name\": \"Product\",\n  \"fields\": [\n    { \"name\": \"product_id\", \"type\": \"int\" },\n    { \"name\": \"product_name\", \"type\": [\"null\", \"string\"] },\n    { \"name\": \"price\", \"type\": [\"null\", \"double\"] },\n    { \"name\": \"category_code\", \"type\": [\"null\", \"string\"] },\n    { \"name\": \"category_name\", \"type\": [\"null\", \"string\"] },\n    { \"name\": \"stock\", \"type\": [\"null\", \"int\"] },\n    { \"name\": \"status\", \"type\": \"string\"},\n    { \"name\": \"processed_at\", \"type\": \"string\"}\n  ]\n}","csv-writer":"commons-csv","Quote Character":"\"","Value Separator":",","Record Separator":"\\n","Timestamp Format":null,"Schema Write Strategy":"no-schema","schema-name":"${schema.name}","Quote Mode":"MINIMAL","Schema Reference Writer":null,"Include Trailing Delimiter":"false"},"propertyDescriptors":{"schema-reference-reader":{"name":"schema-reference-reader","displayName":"Schema Reference Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false,"dynamic":false},"CSV Format":{"name":"CSV Format","displayName":"CSV Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Include Header Line":{"name":"Include Header Line","displayName":"Include Header Line","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-cache":{"name":"schema-cache","displayName":"Schema Cache","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Escape Character":{"name":"Escape Character","displayName":"Escape Character","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Null String":{"name":"Null String","displayName":"Null String","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Trim Fields":{"name":"Trim Fields","displayName":"Trim Fields","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Comment Marker":{"name":"Comment Marker","displayName":"Comment Marker","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false,"dynamic":false},"csvutils-character-set":{"name":"csvutils-character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false,"dynamic":false},"csv-writer":{"name":"csv-writer","displayName":"CSV Writer","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Quote Character":{"name":"Quote Character","displayName":"Quote Character","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Value Separator":{"name":"Value Separator","displayName":"Value Separator","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Record Separator":{"name":"Record Separator","displayName":"Record Separator","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Write Strategy":{"name":"Schema Write Strategy","displayName":"Schema Write Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Quote Mode":{"name":"Quote Mode","displayName":"Quote Mode","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Reference Writer":{"name":"Schema Reference Writer","displayName":"Schema Reference Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Include Trailing Delimiter":{"name":"Include Trailing Delimiter","displayName":"Include Trailing Delimiter","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordSetWriterFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.5.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"76ff7b22-0198-1000-8023-259dae04df8c"},{"identifier":"d837a902-ea69-3f1f-9bbb-0b145e412479","instanceIdentifier":"76c550c6-0198-1000-0cec-6fc2b5f375ad","name":"CSVRecordSetWriter","comments":"","type":"org.apache.nifi.csv.CSVRecordSetWriter","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"2.5.0"},"properties":{"schema-reference-reader":null,"schema-branch":null,"CSV Format":"custom","Include Header Line":"true","schema-cache":null,"Escape Character":"\\","Date Format":null,"Null String":null,"Trim Fields":"true","schema-registry":null,"Time Format":null,"Comment Marker":null,"schema-access-strategy":"schema-text-property","schema-version":null,"csvutils-character-set":"UTF-8","schema-text":"{\n  \"type\": \"record\",\n  \"name\": \"Product\",\n  \"fields\": [\n    { \"name\": \"product_id\", \"type\": \"int\" },\n    { \"name\": \"product_name\", \"type\": [\"null\", \"string\"] },\n    { \"name\": \"price\", \"type\": [\"null\", \"double\"] },\n    { \"name\": \"category_code\", \"type\": [\"null\", \"string\"] },\n    { \"name\": \"category_name\", \"type\": [\"null\", \"string\"] },\n    { \"name\": \"stock\", \"type\": [\"null\", \"int\"] }\n  ]\n}","csv-writer":"commons-csv","Quote Character":"\"","Value Separator":",","Record Separator":"\\n","Timestamp Format":null,"Schema Write Strategy":"no-schema","schema-name":"${schema.name}","Quote Mode":"MINIMAL","Schema Reference Writer":null,"Include Trailing Delimiter":"false"},"propertyDescriptors":{"schema-reference-reader":{"name":"schema-reference-reader","displayName":"Schema Reference Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false,"dynamic":false},"CSV Format":{"name":"CSV Format","displayName":"CSV Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Include Header Line":{"name":"Include Header Line","displayName":"Include Header Line","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-cache":{"name":"schema-cache","displayName":"Schema Cache","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Escape Character":{"name":"Escape Character","displayName":"Escape Character","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Null String":{"name":"Null String","displayName":"Null String","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Trim Fields":{"name":"Trim Fields","displayName":"Trim Fields","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Comment Marker":{"name":"Comment Marker","displayName":"Comment Marker","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false,"dynamic":false},"csvutils-character-set":{"name":"csvutils-character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false,"dynamic":false},"csv-writer":{"name":"csv-writer","displayName":"CSV Writer","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Quote Character":{"name":"Quote Character","displayName":"Quote Character","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Value Separator":{"name":"Value Separator","displayName":"Value Separator","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Record Separator":{"name":"Record Separator","displayName":"Record Separator","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Write Strategy":{"name":"Schema Write Strategy","displayName":"Schema Write Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Quote Mode":{"name":"Quote Mode","displayName":"Quote Mode","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Reference Writer":{"name":"Schema Reference Writer","displayName":"Schema Reference Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Include Trailing Delimiter":{"name":"Include Trailing Delimiter","displayName":"Include Trailing Delimiter","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordSetWriterFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.5.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"76ff7b22-0198-1000-8023-259dae04df8c"}],"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","scheduledState":"ENABLED","executionEngine":"INHERITED","maxConcurrentTasks":1,"statelessFlowTimeout":"1 min","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP"},"externalControllerServices":{},"parameterContexts":{},"flowEncodingVersion":"1.0","parameterProviders":{},"latest":false}