Apache Nifi/basic/NiFi_Flow.json
{"flowContents":{"identifier":"a3d66317-52e0-3b44-8fa4-3646337bd418","instanceIdentifier":"6c72b572-0198-1000-2240-57bb2f15f248","name":"basic Process","comments":"","position":{"x":-200.0,"y":-488.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"199ebdc1-011c-330a-b676-0b6a6d8ac599","instanceIdentifier":"6f94d6cc-0198-1000-0dd8-6870dc24fb83","name":"PutFile","comments":"","position":{"x":-768.0,"y":280.0},"type":"org.apache.nifi.processors.standard.PutFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.5.0"},"properties":{"Group":null,"Owner":null,"Create Missing Directories":"true","Permissions":null,"Maximum File Count":null,"Last Modified Time":null,"Directory":"C:\\Apache Nifi Showcase\\basic\\output_json\\seniors","Conflict Resolution Strategy":"fail"},"propertyDescriptors":{"Group":{"name":"Group","displayName":"Group","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Owner":{"name":"Owner","displayName":"Owner","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Create Missing Directories":{"name":"Create Missing Directories","displayName":"Create Missing Directories","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Permissions":{"name":"Permissions","displayName":"Permissions","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum File Count":{"name":"Maximum File Count","displayName":"Maximum File Count","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Last Modified Time":{"name":"Last Modified Time","displayName":"Last Modified Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Directory":{"name":"Directory","displayName":"Directory","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Conflict Resolution Strategy":{"name":"Conflict Resolution Strategy","displayName":"Conflict Resolution Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"a3d66317-52e0-3b44-8fa4-3646337bd418"},{"identifier":"34f21950-4535-3630-8a40-4a3a3bb56b98","instanceIdentifier":"6bbd4915-0198-1000-e1b2-ce15e26fb3c2","name":"UpdateAttribute","comments":"","position":{"x":-232.0,"y":16.0},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"2.5.0"},"properties":{"Delete Attributes Expression":null,"filename":"${filename:replace('.csv','')}_${now():format(\"yyyyMMdd_HHmmss\")}.json","Store State":"Do not store state","canonical-value-lookup-cache-size":"100","mime.type":"application/json","Stateful Variables Initial Value":null},"propertyDescriptors":{"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"filename":{"name":"filename","displayName":"filename","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false,"dynamic":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"mime.type":{"name":"mime.type","displayName":"mime.type","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"a3d66317-52e0-3b44-8fa4-3646337bd418"},{"identifier":"cf65d12d-7851-3b8c-ac73-7cd8eee87210","instanceIdentifier":"6bb5b80f-0198-1000-9cda-d45c9d447f51","name":"PutFile","comments":"","position":{"x":-232.0,"y":200.0},"type":"org.apache.nifi.processors.standard.PutFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.5.0"},"properties":{"Group":null,"Owner":null,"Create Missing Directories":"true","Permissions":null,"Maximum File Count":null,"Last Modified Time":null,"Directory":"C:\\Apache Nifi Showcase\\basic\\output_json","Conflict Resolution Strategy":"fail"},"propertyDescriptors":{"Group":{"name":"Group","displayName":"Group","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Owner":{"name":"Owner","displayName":"Owner","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Create Missing Directories":{"name":"Create Missing Directories","displayName":"Create Missing Directories","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Permissions":{"name":"Permissions","displayName":"Permissions","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum File Count":{"name":"Maximum File Count","displayName":"Maximum File Count","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Last Modified Time":{"name":"Last Modified Time","displayName":"Last Modified Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Directory":{"name":"Directory","displayName":"Directory","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Conflict Resolution Strategy":{"name":"Conflict Resolution Strategy","displayName":"Conflict Resolution Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"a3d66317-52e0-3b44-8fa4-3646337bd418"},{"identifier":"c3879b27-0060-3e30-8158-0f956da3ee08","instanceIdentifier":"6bd86613-0198-1000-dc5a-8bf410a594b1","name":"UpdateRecord","comments":"","position":{"x":-248.0,"y":-368.0},"type":"org.apache.nifi.processors.standard.UpdateRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.5.0"},"properties":{"/status":"active","Record Writer":"41bd0008-31c7-3ee7-aca6-dd151d7d7996","Record Reader":"cdf1f6b5-883b-32b3-97fd-2f8e5bd066a7","Replacement Value Strategy":"literal-value"},"propertyDescriptors":{"/status":{"name":"/status","displayName":"/status","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Record Writer":{"name":"Record Writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Record Reader":{"name":"Record Reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Replacement Value Strategy":{"name":"Replacement Value Strategy","displayName":"Replacement Value Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"a3d66317-52e0-3b44-8fa4-3646337bd418"},{"identifier":"a764f15b-bbd2-3d87-9fb1-a3099af795d3","instanceIdentifier":"6f995e4c-0198-1000-ea0b-7fa5c18b3c80","name":"QueryRecord","comments":"","position":{"x":-752.0,"y":72.0},"type":"org.apache.nifi.processors.standard.QueryRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.5.0"},"properties":{"dbf-default-precision":"10","querysenior":"SELECT * FROM FLOWFILE WHERE age_group = 'senior'","record-writer":"41bd0008-31c7-3ee7-aca6-dd151d7d7996","record-reader":"5e9b3de7-9f6f-3265-8a4e-e86bd42caa9e","include-zero-record-flowfiles":"true","dbf-default-scale":"0"},"propertyDescriptors":{"dbf-default-precision":{"name":"dbf-default-precision","displayName":"Default Decimal Precision","identifiesControllerService":false,"sensitive":false,"dynamic":false},"querysenior":{"name":"querysenior","displayName":"querysenior","identifiesControllerService":false,"sensitive":false,"dynamic":true},"record-writer":{"name":"record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"record-reader":{"name":"record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"include-zero-record-flowfiles":{"name":"include-zero-record-flowfiles","displayName":"Include Zero Record FlowFiles","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbf-default-scale":{"name":"dbf-default-scale","displayName":"Default Decimal Scale","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"a3d66317-52e0-3b44-8fa4-3646337bd418"},{"identifier":"91caff9e-e9ff-3315-a0ab-cb274ff5cc19","instanceIdentifier":"6ba73c89-0198-1000-577b-55513eacdb1b","name":"GetFile","comments":"","position":{"x":-256.0,"y":-584.0},"type":"org.apache.nifi.processors.standard.GetFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.5.0"},"properties":{"Keep Source File":"false","Minimum File Age":"0 sec","Polling Interval":"0 sec","Input Directory":"C:\\Apache Nifi Showcase\\basic\\input_csv","Maximum File Age":null,"Batch Size":"10","Maximum File Size":null,"Minimum File Size":"0 B","Ignore Hidden Files":"true","Recurse Subdirectories":"true","File Filter":"[^\\.].*","Path Filter":null},"propertyDescriptors":{"Keep Source File":{"name":"Keep Source File","displayName":"Keep Source File","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Minimum File Age":{"name":"Minimum File Age","displayName":"Minimum File Age","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Polling Interval":{"name":"Polling Interval","displayName":"Polling Interval","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Input Directory":{"name":"Input Directory","displayName":"Input Directory","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum File Age":{"name":"Maximum File Age","displayName":"Maximum File Age","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Batch Size":{"name":"Batch Size","displayName":"Batch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum File Size":{"name":"Maximum File Size","displayName":"Maximum File Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Minimum File Size":{"name":"Minimum File Size","displayName":"Minimum File Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Ignore Hidden Files":{"name":"Ignore Hidden Files","displayName":"Ignore Hidden Files","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Recurse Subdirectories":{"name":"Recurse Subdirectories","displayName":"Recurse Subdirectories","identifiesControllerService":false,"sensitive":false,"dynamic":false},"File Filter":{"name":"File Filter","displayName":"File Filter","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Path Filter":{"name":"Path Filter","displayName":"Path Filter","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"a3d66317-52e0-3b44-8fa4-3646337bd418"},{"identifier":"7eecfc6b-a4b3-3aa6-9a96-2ffa57240881","instanceIdentifier":"6c5e98a6-0198-1000-c427-47b1ace93561","name":"QueryRecord","comments":"","position":{"x":-240.0,"y":-176.0},"type":"org.apache.nifi.processors.standard.QueryRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.5.0"},"properties":{"dbf-default-precision":"10","record-writer":"41bd0008-31c7-3ee7-aca6-dd151d7d7996","record-reader":"5e9b3de7-9f6f-3265-8a4e-e86bd42caa9e","include-zero-record-flowfiles":"true","query1":"SELECT *, \n       CASE WHEN age > 30 THEN 'senior' ELSE 'junior' END AS age_group \nFROM FLOWFILE\n","dbf-default-scale":"0"},"propertyDescriptors":{"dbf-default-precision":{"name":"dbf-default-precision","displayName":"Default Decimal Precision","identifiesControllerService":false,"sensitive":false,"dynamic":false},"record-writer":{"name":"record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"record-reader":{"name":"record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"include-zero-record-flowfiles":{"name":"include-zero-record-flowfiles","displayName":"Include Zero Record FlowFiles","identifiesControllerService":false,"sensitive":false,"dynamic":false},"query1":{"name":"query1","displayName":"query1","identifiesControllerService":false,"sensitive":false,"dynamic":true},"dbf-default-scale":{"name":"dbf-default-scale","displayName":"Default Decimal Scale","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"a3d66317-52e0-3b44-8fa4-3646337bd418"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"bf53ee1e-8556-3793-9b9d-34fa67a03ba9","instanceIdentifier":"6f9084d4-0198-1000-67f1-0c3a4e692b56","name":"","source":{"id":"c3879b27-0060-3e30-8158-0f956da3ee08","type":"PROCESSOR","groupId":"a3d66317-52e0-3b44-8fa4-3646337bd418","name":"UpdateRecord","comments":"","instanceIdentifier":"6bd86613-0198-1000-dc5a-8bf410a594b1"},"destination":{"id":"7eecfc6b-a4b3-3aa6-9a96-2ffa57240881","type":"PROCESSOR","groupId":"a3d66317-52e0-3b44-8fa4-3646337bd418","name":"QueryRecord","comments":"","instanceIdentifier":"6c5e98a6-0198-1000-c427-47b1ace93561"},"labelIndex":0,"zIndex":14,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"a3d66317-52e0-3b44-8fa4-3646337bd418"},{"identifier":"ee8289e6-ab1c-3d6a-b30f-fcc59b09e3a5","instanceIdentifier":"6fa09663-0198-1000-aad6-55e325c434ae","name":"","source":{"id":"34f21950-4535-3630-8a40-4a3a3bb56b98","type":"PROCESSOR","groupId":"a3d66317-52e0-3b44-8fa4-3646337bd418","name":"UpdateAttribute","comments":"","instanceIdentifier":"6bbd4915-0198-1000-e1b2-ce15e26fb3c2"},"destination":{"id":"a764f15b-bbd2-3d87-9fb1-a3099af795d3","type":"PROCESSOR","groupId":"a3d66317-52e0-3b44-8fa4-3646337bd418","name":"QueryRecord","comments":"","instanceIdentifier":"6f995e4c-0198-1000-ea0b-7fa5c18b3c80"},"labelIndex":0,"zIndex":17,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"a3d66317-52e0-3b44-8fa4-3646337bd418"},{"identifier":"577e2fe9-7329-3ea9-977b-3516a75b9902","instanceIdentifier":"6f99f61b-0198-1000-9a7f-ef3cb1375c51","name":"","source":{"id":"a764f15b-bbd2-3d87-9fb1-a3099af795d3","type":"PROCESSOR","groupId":"a3d66317-52e0-3b44-8fa4-3646337bd418","name":"QueryRecord","comments":"","instanceIdentifier":"6f995e4c-0198-1000-ea0b-7fa5c18b3c80"},"destination":{"id":"199ebdc1-011c-330a-b676-0b6a6d8ac599","type":"PROCESSOR","groupId":"a3d66317-52e0-3b44-8fa4-3646337bd418","name":"PutFile","comments":"","instanceIdentifier":"6f94d6cc-0198-1000-0dd8-6870dc24fb83"},"labelIndex":0,"zIndex":16,"selectedRelationships":["querysenior"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"a3d66317-52e0-3b44-8fa4-3646337bd418"},{"identifier":"4160a14f-178d-3a40-8307-ad8175a965f9","instanceIdentifier":"6c5f5fdd-0198-1000-669d-3a173d8220f7","name":"","source":{"id":"7eecfc6b-a4b3-3aa6-9a96-2ffa57240881","type":"PROCESSOR","groupId":"a3d66317-52e0-3b44-8fa4-3646337bd418","name":"QueryRecord","comments":"","instanceIdentifier":"6c5e98a6-0198-1000-c427-47b1ace93561"},"destination":{"id":"34f21950-4535-3630-8a40-4a3a3bb56b98","type":"PROCESSOR","groupId":"a3d66317-52e0-3b44-8fa4-3646337bd418","name":"UpdateAttribute","comments":"","instanceIdentifier":"6bbd4915-0198-1000-e1b2-ce15e26fb3c2"},"labelIndex":0,"zIndex":13,"selectedRelationships":["query1"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"a3d66317-52e0-3b44-8fa4-3646337bd418"},{"identifier":"69fa298a-dfed-39dc-aa83-8a0254b4cfb0","instanceIdentifier":"6bd3f17b-0198-1000-56b1-6b882b062c55","name":"","source":{"id":"34f21950-4535-3630-8a40-4a3a3bb56b98","type":"PROCESSOR","groupId":"a3d66317-52e0-3b44-8fa4-3646337bd418","name":"UpdateAttribute","comments":"","instanceIdentifier":"6bbd4915-0198-1000-e1b2-ce15e26fb3c2"},"destination":{"id":"cf65d12d-7851-3b8c-ac73-7cd8eee87210","type":"PROCESSOR","groupId":"a3d66317-52e0-3b44-8fa4-3646337bd418","name":"PutFile","comments":"","instanceIdentifier":"6bb5b80f-0198-1000-9cda-d45c9d447f51"},"labelIndex":0,"zIndex":4,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"a3d66317-52e0-3b44-8fa4-3646337bd418"},{"identifier":"01bdc993-3212-3d62-9a5c-d008ba16e53e","instanceIdentifier":"6c4cab15-0198-1000-20a5-0e2f466a3ce8","name":"","source":{"id":"91caff9e-e9ff-3315-a0ab-cb274ff5cc19","type":"PROCESSOR","groupId":"a3d66317-52e0-3b44-8fa4-3646337bd418","name":"GetFile","comments":"","instanceIdentifier":"6ba73c89-0198-1000-577b-55513eacdb1b"},"destination":{"id":"c3879b27-0060-3e30-8158-0f956da3ee08","type":"PROCESSOR","groupId":"a3d66317-52e0-3b44-8fa4-3646337bd418","name":"UpdateRecord","comments":"","instanceIdentifier":"6bd86613-0198-1000-dc5a-8bf410a594b1"},"labelIndex":0,"zIndex":11,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"a3d66317-52e0-3b44-8fa4-3646337bd418"}],"labels":[{"identifier":"afe0607a-d18e-3976-86c7-acb952c0fcbc","instanceIdentifier":"6c672af6-0198-1000-c4fa-d597229f83e5","position":{"x":152.0,"y":-184.0},"label":"Add age_group = \"junior\" or \"senior\" to all rows, depending on if age>30.","zIndex":3,"width":352.0,"height":104.0,"style":{"font-size":"20px"},"componentType":"LABEL","groupIdentifier":"a3d66317-52e0-3b44-8fa4-3646337bd418"},{"identifier":"83487332-13be-30e0-bebf-2a59e8096326","instanceIdentifier":"6c684605-0198-1000-b121-ae8f703f8441","position":{"x":152.0,"y":8.0},"label":"Change file name depending on current timestamp and file format.","zIndex":4,"width":352.0,"height":80.0,"style":{"font-size":"20px"},"componentType":"LABEL","groupIdentifier":"a3d66317-52e0-3b44-8fa4-3646337bd418"},{"identifier":"ff9b69a5-c64c-3153-b686-03a6e11fe427","instanceIdentifier":"6fa1493d-0198-1000-8cd4-15152818bd80","position":{"x":-736.0,"y":-32.0},"label":"Save seniors to a different directory.","zIndex":6,"width":312.0,"height":88.0,"style":{"font-size":"20px"},"componentType":"LABEL","groupIdentifier":"a3d66317-52e0-3b44-8fa4-3646337bd418"},{"identifier":"35dc29b3-d873-3f50-aa47-ad74ed6325cb","instanceIdentifier":"6c65207e-0198-1000-0c10-a709de21b0a9","position":{"x":144.0,"y":-544.0},"label":"Get csv file from directory.","zIndex":1,"width":328.0,"height":56.0,"style":{"font-size":"20px"},"componentType":"LABEL","groupIdentifier":"a3d66317-52e0-3b44-8fa4-3646337bd418"},{"identifier":"a6525116-6f21-3c63-ada8-c5f35f6ad252","instanceIdentifier":"6c65bcf6-0198-1000-7e0e-d0a3eb110e0a","position":{"x":144.0,"y":-384.0},"label":"Convert csv to json, also add \"status=active\" to all rows.","zIndex":2,"width":344.0,"height":104.0,"style":{"font-size":"20px"},"componentType":"LABEL","groupIdentifier":"a3d66317-52e0-3b44-8fa4-3646337bd418"},{"identifier":"a572e05b-60af-3615-9899-31060dcf92e1","instanceIdentifier":"6c690826-0198-1000-6806-164cbb93d758","position":{"x":152.0,"y":200.0},"label":"Save json file to new directory.","zIndex":5,"width":336.0,"height":88.0,"style":{"font-size":"20px"},"componentType":"LABEL","groupIdentifier":"a3d66317-52e0-3b44-8fa4-3646337bd418"}],"funnels":[],"controllerServices":[{"identifier":"cdf1f6b5-883b-32b3-97fd-2f8e5bd066a7","instanceIdentifier":"6bad67af-0198-1000-c5ad-471899cad2a6","name":"CSVReader","comments":"","type":"org.apache.nifi.csv.CSVReader","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"2.5.0"},"properties":{"schema-reference-reader":null,"ignore-csv-header":"false","schema-branch":null,"Trim double quote":"true","CSV Format":"custom","Quote Character":"\"","csvutils-allow-duplicate-header-names":"true","Value Separator":",","Record Separator":"\\n","Timestamp Format":null,"Escape Character":"\\","Date Format":null,"Null String":null,"Skip Header Line":"true","Trim Fields":"true","schema-name":"${schema.name}","schema-registry":null,"csv-reader-csv-parser":"commons-csv","Time Format":null,"Comment Marker":null,"schema-access-strategy":"schema-text-property","schema-version":null,"csvutils-character-set":"UTF-8","schema-text":"{\n  \"type\": \"record\",\n  \"name\": \"Person\",\n  \"fields\": [\n    { \"name\": \"id\", \"type\": \"int\" },\n    { \"name\": \"name\", \"type\": \"string\" },\n    { \"name\": \"age\", \"type\": \"int\" }\n  ]\n}"},"propertyDescriptors":{"schema-reference-reader":{"name":"schema-reference-reader","displayName":"Schema Reference Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"ignore-csv-header":{"name":"ignore-csv-header","displayName":"Ignore CSV Header Column Names","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Trim double quote":{"name":"Trim double quote","displayName":"Trim double quote","identifiesControllerService":false,"sensitive":false,"dynamic":false},"CSV Format":{"name":"CSV Format","displayName":"CSV Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Quote Character":{"name":"Quote Character","displayName":"Quote Character","identifiesControllerService":false,"sensitive":false,"dynamic":false},"csvutils-allow-duplicate-header-names":{"name":"csvutils-allow-duplicate-header-names","displayName":"Allow Duplicate Header Names","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Value Separator":{"name":"Value Separator","displayName":"Value Separator","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Record Separator":{"name":"Record Separator","displayName":"Record Separator","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Escape Character":{"name":"Escape Character","displayName":"Escape Character","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Null String":{"name":"Null String","displayName":"Null String","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Skip Header Line":{"name":"Skip Header Line","displayName":"Treat First Line as Header","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Trim Fields":{"name":"Trim Fields","displayName":"Trim Fields","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false,"dynamic":false},"csv-reader-csv-parser":{"name":"csv-reader-csv-parser","displayName":"CSV Parser","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Comment Marker":{"name":"Comment Marker","displayName":"Comment Marker","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false,"dynamic":false},"csvutils-character-set":{"name":"csvutils-character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordReaderFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.5.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"6c72b572-0198-1000-2240-57bb2f15f248"},{"identifier":"5e9b3de7-9f6f-3265-8a4e-e86bd42caa9e","instanceIdentifier":"6c3a94b5-0198-1000-e935-dd59be228671","name":"JsonTreeReader","comments":"","type":"org.apache.nifi.json.JsonTreeReader","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"2.5.0"},"properties":{"schema-reference-reader":null,"schema-branch":null,"Max String Length":"20 MB","schema-application-strategy":"SELECTED_PART","Timestamp Format":null,"schema-inference-cache":null,"Date Format":null,"schema-name":"${schema.name}","starting-field-strategy":"ROOT_NODE","schema-registry":null,"starting-field-name":null,"Time Format":null,"schema-access-strategy":"infer-schema","schema-version":null,"schema-text":"{\n  \"type\": \"record\",\n  \"name\": \"person\",\n  \"fields\": [\n    { \"name\": \"id\", \"type\": \"int\" },\n    { \"name\": \"name\", \"type\": \"string\" },\n    { \"name\": \"age\", \"type\": \"int\" },\n    { \"name\": \"status\", \"type\": \"string\" }\n  ]\n}","Allow Comments":"false"},"propertyDescriptors":{"schema-reference-reader":{"name":"schema-reference-reader","displayName":"Schema Reference Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-application-strategy":{"name":"schema-application-strategy","displayName":"Schema Application Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-inference-cache":{"name":"schema-inference-cache","displayName":"Schema Inference Cache","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"starting-field-strategy":{"name":"starting-field-strategy","displayName":"Starting Field Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false,"dynamic":false},"starting-field-name":{"name":"starting-field-name","displayName":"Starting Field Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Allow Comments":{"name":"Allow Comments","displayName":"Allow Comments","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordReaderFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.5.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"6c72b572-0198-1000-2240-57bb2f15f248"},{"identifier":"41bd0008-31c7-3ee7-aca6-dd151d7d7996","instanceIdentifier":"6bada9c5-0198-1000-b3ea-7e72d0822c82","name":"JsonRecordSetWriter","comments":"","type":"org.apache.nifi.json.JsonRecordSetWriter","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"2.5.0"},"properties":{"schema-reference-reader":null,"schema-branch":null,"Allow Scientific Notation":"false","compression-level":"1","schema-cache":null,"Timestamp Format":null,"Date Format":null,"Pretty Print JSON":"true","compression-format":"none","Schema Write Strategy":"no-schema","suppress-nulls":"never-suppress","output-grouping":"output-array","schema-name":"${schema.name}","schema-registry":null,"Time Format":null,"schema-access-strategy":"inherit-record-schema","schema-version":null,"schema-text":"{\n  \"type\": \"record\",\n  \"name\": \"person\",\n  \"fields\": [\n    { \"name\": \"id\", \"type\": \"int\" },\n    { \"name\": \"name\", \"type\": \"string\" },\n    { \"name\": \"age\", \"type\": \"int\" },\n    { \"name\": \"status\", \"type\": \"string\" },\n    { \"name\": \"age_group\", \"type\": \"string\" }\n  ]\n}","Schema Reference Writer":null},"propertyDescriptors":{"schema-reference-reader":{"name":"schema-reference-reader","displayName":"Schema Reference Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Allow Scientific Notation":{"name":"Allow Scientific Notation","displayName":"Allow Scientific Notation","identifiesControllerService":false,"sensitive":false,"dynamic":false},"compression-level":{"name":"compression-level","displayName":"Compression Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-cache":{"name":"schema-cache","displayName":"Schema Cache","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Pretty Print JSON":{"name":"Pretty Print JSON","displayName":"Pretty Print JSON","identifiesControllerService":false,"sensitive":false,"dynamic":false},"compression-format":{"name":"compression-format","displayName":"Compression Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Write Strategy":{"name":"Schema Write Strategy","displayName":"Schema Write Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"suppress-nulls":{"name":"suppress-nulls","displayName":"Suppress Null Values","identifiesControllerService":false,"sensitive":false,"dynamic":false},"output-grouping":{"name":"output-grouping","displayName":"Output Grouping","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Reference Writer":{"name":"Schema Reference Writer","displayName":"Schema Reference Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordSetWriterFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.5.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"6c72b572-0198-1000-2240-57bb2f15f248"}],"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","scheduledState":"ENABLED","executionEngine":"INHERITED","maxConcurrentTasks":1,"statelessFlowTimeout":"1 min","componentType":"PROCESS_GROUP","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE"},"externalControllerServices":{},"parameterContexts":{},"flowEncodingVersion":"1.0","parameterProviders":{},"latest":false}