Apache Nifi/advanced/advanced.json
{"flowContents":{"identifier":"9e5811b1-3b49-382b-8c52-5bdb961fa95f","instanceIdentifier":"85ac4524-0198-1000-8dd9-98d9df5c408e","name":"advanced","comments":"","position":{"x":-728.0,"y":-520.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"f197722d-eafb-3974-ab98-52d19f17107b","instanceIdentifier":"8662b9c0-0198-1000-f2c8-fd0b7bc96476","name":"FetchDistributedMapCache","comments":"","position":{"x":-248.0,"y":112.0},"type":"org.apache.nifi.processors.standard.FetchDistributedMapCache","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.5.0"},"properties":{"Cache Entry Identifier":"exchange_rates","Put Cache Value In Attribute":"exchange_json","Distributed Cache Service":"138b262a-6540-39fa-b6f2-7946205f3b19","Max Length To Put In Attribute":"256","Character Set":"UTF-8"},"propertyDescriptors":{"Cache Entry Identifier":{"name":"Cache Entry Identifier","displayName":"Cache Entry Identifier","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Put Cache Value In Attribute":{"name":"Put Cache Value In Attribute","displayName":"Put Cache Value In Attribute","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Distributed Cache Service":{"name":"Distributed Cache Service","displayName":"Distributed Cache Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Max Length To Put In Attribute":{"name":"Max Length To Put In Attribute","displayName":"Max Length To Put In Attribute","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Character Set":{"name":"Character Set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"3 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":["not-found"],"backoffMechanism":"YIELD_PROCESSOR","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"9e5811b1-3b49-382b-8c52-5bdb961fa95f"},{"identifier":"a2fddf09-d637-3db1-bb90-3c55ba0aef55","instanceIdentifier":"85db7bdd-0198-1000-462c-fb8bb90723bb","name":"QueryRecord","comments":"","position":{"x":-232.0,"y":-112.0},"type":"org.apache.nifi.processors.standard.QueryRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.5.0"},"properties":{"dbf-default-precision":"10","record-writer":"d837a902-ea69-3f1f-9bbb-0b145e412479","record-reader":"a0488162-40c9-38c1-a5ae-6e7bbff8a460","include-zero-record-flowfiles":"true","dbf-default-scale":"0","calculate_tax":"SELECT \n  *,\n  ROUND(price * quantity, 2) AS subtotal,\nROUND(price * quantity * tax_rate, 2) AS tax_amount,\nROUND(price * quantity * (1 + tax_rate), 2) AS total_amount\nFROM FLOWFILE\n"},"propertyDescriptors":{"dbf-default-precision":{"name":"dbf-default-precision","displayName":"Default Decimal Precision","identifiesControllerService":false,"sensitive":false,"dynamic":false},"record-writer":{"name":"record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"record-reader":{"name":"record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"include-zero-record-flowfiles":{"name":"include-zero-record-flowfiles","displayName":"Include Zero Record FlowFiles","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbf-default-scale":{"name":"dbf-default-scale","displayName":"Default Decimal Scale","identifiesControllerService":false,"sensitive":false,"dynamic":false},"calculate_tax":{"name":"calculate_tax","displayName":"calculate_tax","identifiesControllerService":false,"sensitive":false,"dynamic":true}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"9e5811b1-3b49-382b-8c52-5bdb961fa95f"},{"identifier":"14b11f8d-6ede-304f-ad2f-a0c1366c8231","instanceIdentifier":"85f956a6-0198-1000-164f-b8896d593d38","name":"GenerateFlowFile","comments":"","position":{"x":1128.0,"y":-488.0},"type":"org.apache.nifi.processors.standard.GenerateFlowFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.5.0"},"properties":{"character-set":"UTF-8","File Size":"0B","mime-type":null,"generate-ff-custom-text":null,"Batch Size":"1","Unique FlowFiles":"false","Data Format":"Text"},"propertyDescriptors":{"character-set":{"name":"character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"File Size":{"name":"File Size","displayName":"File Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"mime-type":{"name":"mime-type","displayName":"Mime Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"generate-ff-custom-text":{"name":"generate-ff-custom-text","displayName":"Custom Text","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Batch Size":{"name":"Batch Size","displayName":"Batch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Unique FlowFiles":{"name":"Unique FlowFiles","displayName":"Unique FlowFiles","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Data Format":{"name":"Data Format","displayName":"Data Format","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"60 min","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"9e5811b1-3b49-382b-8c52-5bdb961fa95f"},{"identifier":"61dc9b72-c317-3be6-bd63-006a8c4e42a1","instanceIdentifier":"86a6365f-0198-1000-90eb-070de3cacd8b","name":"ExecuteScript","comments":"","position":{"x":-240.0,"y":536.0},"type":"org.apache.nifi.processors.script.ExecuteScript","bundle":{"group":"org.apache.nifi","artifact":"nifi-scripting-nar","version":"2.5.0"},"properties":{"Script File":null,"Script Engine":"Groovy","Script Body":"import org.apache.commons.io.IOUtils\nimport java.nio.charset.StandardCharsets\nimport java.text.DecimalFormat\nimport java.text.DecimalFormatSymbols\nimport java.util.Locale\n\ndef flowFile = session.get()\nif (!flowFile) return\n\ndef usdToEur = flowFile.getAttribute('usd_to_eur')?.toDouble() ?: 1.0\ndef gbpToEur = flowFile.getAttribute('gbp_to_eur')?.toDouble() ?: 1.0\ndef eurToEur = flowFile.getAttribute('eur_to_eur')?.toDouble() ?: 1.0\n\n// Use DecimalFormat with US-style decimal point\ndef symbols = new DecimalFormatSymbols(Locale.US)\ndef df = new DecimalFormat(\"#.###\", symbols)\n\nflowFile = session.write(flowFile, { inputStream, outputStream ->\n\n    def lines = IOUtils.readLines(inputStream, StandardCharsets.UTF_8)\n    if (lines.isEmpty()) return\n\n    // Parse header and columns\n    def header = lines[0].trim()\n    def columns = header.split(',')\n\n    // Find indexes for required columns\n    def currencyIndex = columns.findIndexOf { it == \"currency\" }\n    def amountIndex = columns.findIndexOf { it == \"total_amount\" }\n    def totalEurIndex = columns.findIndexOf { it == \"total_eur\" }\n\n    if (totalEurIndex == -1) {\n        throw new Exception(\"Column 'total_eur' not found in CSV header\")\n    }\n\n    // Write the header as is (no change)\n    outputStream.write((header + \"\\n\").getBytes(StandardCharsets.UTF_8))\n\n    // Process each data line\n    lines[1..-1].each { line ->\n        def fields = line.split(',')\n\n        while (fields.length < columns.length) {\n            fields += \"\"\n        }\n\n        def currency = fields[currencyIndex]?.trim()?.toLowerCase() ?: \"\"\n        def totalAmountStr = fields[amountIndex]?.trim() ?: \"0\"\n        def totalAmount = 0.0\n        try {\n            totalAmount = totalAmountStr.toDouble()\n        } catch (Exception e) {\n            totalAmount = 0.0\n        }\n\n        def rate = 1.0\n        switch (currency) {\n            case 'usd':\n                rate = usdToEur\n                break\n            case 'gbp':\n                rate = gbpToEur\n                break\n            case 'eur':\n                rate = eurToEur\n                break\n            default:\n                rate = 1.0\n        }\n\n        def totalEur = totalAmount * rate\n        def totalEurStr = df.format(totalEur)  // Ensures dot as decimal separator\n\n        fields[totalEurIndex] = totalEurStr\n\n        outputStream.write((fields.join(',') + \"\\n\").getBytes(StandardCharsets.UTF_8))\n    }\n\n} as StreamCallback)\n\nsession.transfer(flowFile, REL_SUCCESS)\n","Module Directory":null},"propertyDescriptors":{"Script File":{"name":"Script File","displayName":"Script File","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}},"Script Engine":{"name":"Script Engine","displayName":"Script Engine","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Script Body":{"name":"Script Body","displayName":"Script Body","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Module Directory":{"name":"Module Directory","displayName":"Module Directory","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["DIRECTORY","FILE"]}}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"9e5811b1-3b49-382b-8c52-5bdb961fa95f"},{"identifier":"3093135d-1b94-30bc-83dd-cbc889cc7317","instanceIdentifier":"861f7e09-0198-1000-ff99-ecf5d03cc32d","name":"ExecuteScript","comments":"","position":{"x":1120.0,"y":208.0},"type":"org.apache.nifi.processors.script.ExecuteScript","bundle":{"group":"org.apache.nifi","artifact":"nifi-scripting-nar","version":"2.5.0"},"properties":{"Script File":null,"Script Engine":"Groovy","Script Body":"def flowFile = session.get()\nif (!flowFile) return\n\ntry {\n    // Get the rates as Double from attributes (if missing, default to 1.0)\n    def rateUsd = flowFile.getAttribute('rate_usd')?.toDouble() ?: 1.0\n    def rateGbp = flowFile.getAttribute('rate_gbp')?.toDouble() ?: 1.0\n    \n    // Calculate inverse rates (1 / rate)\n    def usdToEur = 1.0 / rateUsd\n    def gbpToEur = 1.0 / rateGbp\n    def eurToEur = 1.0  // EUR to EUR is always 1\n\n // Round to 3 decimals with dot as decimal separator\n    usdToEur = String.format(Locale.US, '%.3f', usdToEur)\n    gbpToEur = String.format(Locale.US, '%.3f', gbpToEur)\n    eurToEur = String.format(Locale.US, '%.3f', eurToEur)\n\n    // Set new attributes\n    flowFile = session.putAttribute(flowFile, 'usd_to_eur', usdToEur.toString())\n    flowFile = session.putAttribute(flowFile, 'gbp_to_eur', gbpToEur.toString())\n    flowFile = session.putAttribute(flowFile, 'eur_to_eur', eurToEur.toString())\n    \n    // Transfer flowfile success\n    session.transfer(flowFile, REL_SUCCESS)\n} catch (Exception e) {\n    log.error(\"Error calculating exchange rates\", e)\n    session.transfer(flowFile, REL_FAILURE)\n}\n\n","Module Directory":null},"propertyDescriptors":{"Script File":{"name":"Script File","displayName":"Script File","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}},"Script Engine":{"name":"Script Engine","displayName":"Script Engine","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Script Body":{"name":"Script Body","displayName":"Script Body","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Module Directory":{"name":"Module Directory","displayName":"Module Directory","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["DIRECTORY","FILE"]}}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"9e5811b1-3b49-382b-8c52-5bdb961fa95f"},{"identifier":"24d34baf-bf86-3fae-87a9-ebcb64c4fbd9","instanceIdentifier":"856b3f86-0198-1000-dbd4-98adc0258443","name":"PutFile","comments":"","position":{"x":-248.0,"y":752.0},"type":"org.apache.nifi.processors.standard.PutFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.5.0"},"properties":{"Group":null,"Owner":null,"Create Missing Directories":"true","Permissions":null,"Maximum File Count":null,"Last Modified Time":null,"Directory":"#{output_dir}","Conflict Resolution Strategy":"fail"},"propertyDescriptors":{"Group":{"name":"Group","displayName":"Group","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Owner":{"name":"Owner","displayName":"Owner","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Create Missing Directories":{"name":"Create Missing Directories","displayName":"Create Missing Directories","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Permissions":{"name":"Permissions","displayName":"Permissions","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum File Count":{"name":"Maximum File Count","displayName":"Maximum File Count","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Last Modified Time":{"name":"Last Modified Time","displayName":"Last Modified Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Directory":{"name":"Directory","displayName":"Directory","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Conflict Resolution Strategy":{"name":"Conflict Resolution Strategy","displayName":"Conflict Resolution Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"9e5811b1-3b49-382b-8c52-5bdb961fa95f"},{"identifier":"ae04a171-86c5-3363-b197-27f5eba0dda1","instanceIdentifier":"85fa4ea4-0198-1000-7dc5-ec8529aa8eab","name":"InvokeHTTP","comments":"","position":{"x":1128.0,"y":-256.0},"type":"org.apache.nifi.processors.standard.InvokeHTTP","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.5.0"},"properties":{"Request Content-Encoding":"DISABLED","proxy-configuration-service":null,"Request Multipart Form-Data Filename Enabled":"true","Request Chunked Transfer-Encoding Enabled":"false","Response Header Request Attributes Prefix":null,"HTTP/2 Disabled":"False","Connection Timeout":"5 secs","Response Cookie Strategy":"DISABLED","Socket Read Timeout":"15 secs","Socket Idle Connections":"5","Request Body Enabled":"true","OAuth2 Access Token Refresh Strategy":"ON_TOKEN_EXPIRATION","HTTP URL":"https://open.er-api.com/v6/latest/EUR","Request OAuth2 Access Token Provider":null,"Socket Idle Timeout":"5 mins","Response Redirects Enabled":"True","Socket Write Timeout":"15 secs","Request Header Attributes Pattern":null,"Response FlowFile Naming Strategy":"RANDOM","Response Cache Enabled":"false","Request Date Header Enabled":"True","Request Failure Penalization Enabled":"false","Response Body Attribute Size":"256","SSL Context Service":null,"Response Generation Required":"false","Request User-Agent":null,"Response Header Request Attributes Enabled":"false","HTTP Method":"GET","Request Username":null,"Request Content-Type":"${mime.type}","Response Body Attribute Name":null,"Request Digest Authentication Enabled":"false","Request Multipart Form-Data Name":null,"Response Cache Size":"10MB","Response Body Ignored":"false"},"propertyDescriptors":{"Request Content-Encoding":{"name":"Request Content-Encoding","displayName":"Request Content-Encoding","identifiesControllerService":false,"sensitive":false,"dynamic":false},"proxy-configuration-service":{"name":"proxy-configuration-service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Request Multipart Form-Data Filename Enabled":{"name":"Request Multipart Form-Data Filename Enabled","displayName":"Request Multipart Form-Data Filename Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Chunked Transfer-Encoding Enabled":{"name":"Request Chunked Transfer-Encoding Enabled","displayName":"Request Chunked Transfer-Encoding Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Header Request Attributes Prefix":{"name":"Response Header Request Attributes Prefix","displayName":"Response Header Request Attributes Prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP/2 Disabled":{"name":"HTTP/2 Disabled","displayName":"HTTP/2 Disabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Connection Timeout":{"name":"Connection Timeout","displayName":"Connection Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Cookie Strategy":{"name":"Response Cookie Strategy","displayName":"Response Cookie Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Password":{"name":"Request Password","displayName":"Request Password","identifiesControllerService":false,"sensitive":true,"dynamic":false},"Socket Read Timeout":{"name":"Socket Read Timeout","displayName":"Socket Read Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Socket Idle Connections":{"name":"Socket Idle Connections","displayName":"Socket Idle Connections","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Body Enabled":{"name":"Request Body Enabled","displayName":"Request Body Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"OAuth2 Access Token Refresh Strategy":{"name":"OAuth2 Access Token Refresh Strategy","displayName":"OAuth2 Access Token Refresh Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP URL":{"name":"HTTP URL","displayName":"HTTP URL","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request OAuth2 Access Token Provider":{"name":"Request OAuth2 Access Token Provider","displayName":"Request OAuth2 Access Token Provider","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Socket Idle Timeout":{"name":"Socket Idle Timeout","displayName":"Socket Idle Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Redirects Enabled":{"name":"Response Redirects Enabled","displayName":"Response Redirects Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Socket Write Timeout":{"name":"Socket Write Timeout","displayName":"Socket Write Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Header Attributes Pattern":{"name":"Request Header Attributes Pattern","displayName":"Request Header Attributes Pattern","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response FlowFile Naming Strategy":{"name":"Response FlowFile Naming Strategy","displayName":"Response FlowFile Naming Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Cache Enabled":{"name":"Response Cache Enabled","displayName":"Response Cache Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Date Header Enabled":{"name":"Request Date Header Enabled","displayName":"Request Date Header Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Failure Penalization Enabled":{"name":"Request Failure Penalization Enabled","displayName":"Request Failure Penalization Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Body Attribute Size":{"name":"Response Body Attribute Size","displayName":"Response Body Attribute Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Response Generation Required":{"name":"Response Generation Required","displayName":"Response Generation Required","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request User-Agent":{"name":"Request User-Agent","displayName":"Request User-Agent","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Header Request Attributes Enabled":{"name":"Response Header Request Attributes Enabled","displayName":"Response Header Request Attributes Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP Method":{"name":"HTTP Method","displayName":"HTTP Method","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Username":{"name":"Request Username","displayName":"Request Username","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Content-Type":{"name":"Request Content-Type","displayName":"Request Content-Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Body Attribute Name":{"name":"Response Body Attribute Name","displayName":"Response Body Attribute Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Digest Authentication Enabled":{"name":"Request Digest Authentication Enabled","displayName":"Request Digest Authentication Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Multipart Form-Data Name":{"name":"Request Multipart Form-Data Name","displayName":"Request Multipart Form-Data Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Cache Size":{"name":"Response Cache Size","displayName":"Response Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Body Ignored":{"name":"Response Body Ignored","displayName":"Response Body Ignored","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["No Retry","Retry","Original","Failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"9e5811b1-3b49-382b-8c52-5bdb961fa95f"},{"identifier":"859dc7cc-0198-1000-ad36-a5c616930929","instanceIdentifier":"dd1eb293-5cda-37ad-a754-1f0105b19180","name":"LookupRecord","comments":"","position":{"x":472.0,"y":-320.0},"type":"org.apache.nifi.processors.standard.LookupRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.5.0"},"properties":{"result-contents":"record-fields","routing-strategy":"route-to-success","Root Record Path":null,"record-path-lookup-miss-result-cache-size":"0","result-record-path":"/","record-writer":"d837a902-ea69-3f1f-9bbb-0b145e412479","record-reader":"9e50b8dd-d1e7-354f-a2fb-b5f6b2764f0e","lookup-service":"92d59e2a-4e07-3f6a-aa8a-671775c6c689","record-update-strategy":"use-property","key":"/country"},"propertyDescriptors":{"result-contents":{"name":"result-contents","displayName":"Record Result Contents","identifiesControllerService":false,"sensitive":false,"dynamic":false},"routing-strategy":{"name":"routing-strategy","displayName":"Routing Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Root Record Path":{"name":"Root Record Path","displayName":"Root Record Path","identifiesControllerService":false,"sensitive":false,"dynamic":false},"record-path-lookup-miss-result-cache-size":{"name":"record-path-lookup-miss-result-cache-size","displayName":"Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"result-record-path":{"name":"result-record-path","displayName":"Result RecordPath","identifiesControllerService":false,"sensitive":false,"dynamic":false},"record-writer":{"name":"record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"record-reader":{"name":"record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"lookup-service":{"name":"lookup-service","displayName":"Lookup Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"record-update-strategy":{"name":"record-update-strategy","displayName":"Record Update Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"key":{"name":"key","displayName":"key","identifiesControllerService":false,"sensitive":false,"dynamic":true}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"9e5811b1-3b49-382b-8c52-5bdb961fa95f"},{"identifier":"e6f21976-de33-359a-9df7-8c30eb749819","instanceIdentifier":"85fc2266-0198-1000-73c5-8049d54eee48","name":"EvaluateJsonPath","comments":"","position":{"x":1120.0,"y":-32.0},"type":"org.apache.nifi.processors.standard.EvaluateJsonPath","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.5.0"},"properties":{"Destination":"flowfile-attribute","rate_eur":"$.rates.EUR","Max String Length":"20 MB","rate_gbp":"$.rates.GBP","Return Type":"auto-detect","rate_usd":"$.rates.USD","Null Value Representation":"empty string","Path Not Found Behavior":"ignore"},"propertyDescriptors":{"Destination":{"name":"Destination","displayName":"Destination","identifiesControllerService":false,"sensitive":false,"dynamic":false},"rate_eur":{"name":"rate_eur","displayName":"rate_eur","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"rate_gbp":{"name":"rate_gbp","displayName":"rate_gbp","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Return Type":{"name":"Return Type","displayName":"Return Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"rate_usd":{"name":"rate_usd","displayName":"rate_usd","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Path Not Found Behavior":{"name":"Path Not Found Behavior","displayName":"Path Not Found Behavior","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure","unmatched"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"9e5811b1-3b49-382b-8c52-5bdb961fa95f"},{"identifier":"6f88908b-a1d7-3aec-a818-6099ff45f5ca","instanceIdentifier":"8562fce0-0198-1000-bcc2-ad3cf26d5a5e","name":"GetFile","comments":"","position":{"x":-247.0,"y":-523.5},"type":"org.apache.nifi.processors.standard.GetFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.5.0"},"properties":{"Keep Source File":"false","Minimum File Age":"0 sec","Polling Interval":"0 sec","Input Directory":"C:\\Apache Nifi Showcase\\advanced\\input_csv","Maximum File Age":null,"Batch Size":"10","Maximum File Size":null,"Minimum File Size":"0 B","Ignore Hidden Files":"true","Recurse Subdirectories":"true","File Filter":"orders.*\\.csv","Path Filter":null},"propertyDescriptors":{"Keep Source File":{"name":"Keep Source File","displayName":"Keep Source File","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Minimum File Age":{"name":"Minimum File Age","displayName":"Minimum File Age","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Polling Interval":{"name":"Polling Interval","displayName":"Polling Interval","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Input Directory":{"name":"Input Directory","displayName":"Input Directory","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum File Age":{"name":"Maximum File Age","displayName":"Maximum File Age","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Batch Size":{"name":"Batch Size","displayName":"Batch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum File Size":{"name":"Maximum File Size","displayName":"Maximum File Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Minimum File Size":{"name":"Minimum File Size","displayName":"Minimum File Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Ignore Hidden Files":{"name":"Ignore Hidden Files","displayName":"Ignore Hidden Files","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Recurse Subdirectories":{"name":"Recurse Subdirectories","displayName":"Recurse Subdirectories","identifiesControllerService":false,"sensitive":false,"dynamic":false},"File Filter":{"name":"File Filter","displayName":"File Filter","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Path Filter":{"name":"Path Filter","displayName":"Path Filter","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"9e5811b1-3b49-382b-8c52-5bdb961fa95f"},{"identifier":"0135c8f6-ba67-3f0f-99ef-7f33ad2b4db1","instanceIdentifier":"863f5aad-0198-1000-dca3-b1f114451c62","name":"PutDistributedMapCache","comments":"","position":{"x":1104.0,"y":664.0},"type":"org.apache.nifi.processors.standard.PutDistributedMapCache","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.5.0"},"properties":{"Cache Entry Identifier":"exchange_rates","Cache update strategy":"replace","Distributed Cache Service":"138b262a-6540-39fa-b6f2-7946205f3b19","Max cache entry size":"1 MB"},"propertyDescriptors":{"Cache Entry Identifier":{"name":"Cache Entry Identifier","displayName":"Cache Entry Identifier","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Cache update strategy":{"name":"Cache update strategy","displayName":"Cache update strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Distributed Cache Service":{"name":"Distributed Cache Service","displayName":"Distributed Cache Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Max cache entry size":{"name":"Max cache entry size","displayName":"Max cache entry size","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"9e5811b1-3b49-382b-8c52-5bdb961fa95f"},{"identifier":"93e1bc31-25e2-3389-b4fc-e9df5d1395f3","instanceIdentifier":"856ce61f-0198-1000-e9c4-30373b653a70","name":"LookupRecord","comments":"","position":{"x":-736.0,"y":-320.0},"type":"org.apache.nifi.processors.standard.LookupRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.5.0"},"properties":{"result-contents":"record-fields","routing-strategy":"route-to-success","Root Record Path":null,"record-path-lookup-miss-result-cache-size":"0","result-record-path":"/","record-writer":"d837a902-ea69-3f1f-9bbb-0b145e412479","record-reader":"cfe40939-9e60-37a3-a1c7-c0993a6db475","lookup-service":"79cf0dba-7f3b-3764-986a-f724e62aba3d","record-update-strategy":"use-property","key":"/customer_id"},"propertyDescriptors":{"result-contents":{"name":"result-contents","displayName":"Record Result Contents","identifiesControllerService":false,"sensitive":false,"dynamic":false},"routing-strategy":{"name":"routing-strategy","displayName":"Routing Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Root Record Path":{"name":"Root Record Path","displayName":"Root Record Path","identifiesControllerService":false,"sensitive":false,"dynamic":false},"record-path-lookup-miss-result-cache-size":{"name":"record-path-lookup-miss-result-cache-size","displayName":"Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"result-record-path":{"name":"result-record-path","displayName":"Result RecordPath","identifiesControllerService":false,"sensitive":false,"dynamic":false},"record-writer":{"name":"record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"record-reader":{"name":"record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"lookup-service":{"name":"lookup-service","displayName":"Lookup Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"record-update-strategy":{"name":"record-update-strategy","displayName":"Record Update Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"key":{"name":"key","displayName":"key","identifiesControllerService":false,"sensitive":false,"dynamic":true}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"9e5811b1-3b49-382b-8c52-5bdb961fa95f"},{"identifier":"85908c4e-0198-1000-2b33-d9bdb5b26832","instanceIdentifier":"76ad7e5e-831f-3b3a-cc89-c0bc5a823b00","name":"LookupRecord","comments":"","position":{"x":-120.0,"y":-320.0},"type":"org.apache.nifi.processors.standard.LookupRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.5.0"},"properties":{"result-contents":"record-fields","routing-strategy":"route-to-success","Root Record Path":null,"record-path-lookup-miss-result-cache-size":"0","result-record-path":"/","record-writer":"d837a902-ea69-3f1f-9bbb-0b145e412479","record-reader":"cfe40939-9e60-37a3-a1c7-c0993a6db475","lookup-service":"c35588df-21b4-339d-ac67-2448e59704a2","record-update-strategy":"use-property","key":"/product_id"},"propertyDescriptors":{"result-contents":{"name":"result-contents","displayName":"Record Result Contents","identifiesControllerService":false,"sensitive":false,"dynamic":false},"routing-strategy":{"name":"routing-strategy","displayName":"Routing Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Root Record Path":{"name":"Root Record Path","displayName":"Root Record Path","identifiesControllerService":false,"sensitive":false,"dynamic":false},"record-path-lookup-miss-result-cache-size":{"name":"record-path-lookup-miss-result-cache-size","displayName":"Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"result-record-path":{"name":"result-record-path","displayName":"Result RecordPath","identifiesControllerService":false,"sensitive":false,"dynamic":false},"record-writer":{"name":"record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"record-reader":{"name":"record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"lookup-service":{"name":"lookup-service","displayName":"Lookup Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"record-update-strategy":{"name":"record-update-strategy","displayName":"Record Update Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"key":{"name":"key","displayName":"key","identifiesControllerService":false,"sensitive":false,"dynamic":true}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"9e5811b1-3b49-382b-8c52-5bdb961fa95f"},{"identifier":"b4781171-918a-34e1-8c1d-df4240977ac2","instanceIdentifier":"863cdaaf-0198-1000-88a9-cebaefaae976","name":"AttributesToJSON","comments":"","position":{"x":1112.0,"y":440.0},"type":"org.apache.nifi.processors.standard.AttributesToJSON","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.5.0"},"properties":{"attributes-to-json-regex":null,"Destination":"flowfile-content","Null Value":"false","Attributes List":"usd_to_eur, gbp_to_eur, eur_to_eur","Pretty Print":"false","Include Core Attributes":"false","JSON Handling Strategy":"ESCAPED"},"propertyDescriptors":{"attributes-to-json-regex":{"name":"attributes-to-json-regex","displayName":"Attributes Regular Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Destination":{"name":"Destination","displayName":"Destination","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Null Value":{"name":"Null Value","displayName":"Null Value","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes List":{"name":"Attributes List","displayName":"Attributes List","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Pretty Print":{"name":"Pretty Print","displayName":"Pretty Print","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Include Core Attributes":{"name":"Include Core Attributes","displayName":"Include Core Attributes","identifiesControllerService":false,"sensitive":false,"dynamic":false},"JSON Handling Strategy":{"name":"JSON Handling Strategy","displayName":"JSON Handling Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"9e5811b1-3b49-382b-8c52-5bdb961fa95f"},{"identifier":"47cb697c-5040-3ac5-aae1-07fdda9cc823","instanceIdentifier":"86983c61-0198-1000-35e5-f03c5a658232","name":"UpdateAttribute","comments":"","position":{"x":-248.0,"y":328.0},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"2.5.0"},"properties":{"Delete Attributes Expression":null,"Store State":"Do not store state","canonical-value-lookup-cache-size":"100","gbp_to_eur":"${exchange_json:jsonPath('$.gbp_to_eur')}","usd_to_eur":"${exchange_json:jsonPath('$.usd_to_eur')}","eur_to_eur":"${exchange_json:jsonPath('$.eur_to_eur')}","Stateful Variables Initial Value":null},"propertyDescriptors":{"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false,"dynamic":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"gbp_to_eur":{"name":"gbp_to_eur","displayName":"gbp_to_eur","identifiesControllerService":false,"sensitive":false,"dynamic":true},"usd_to_eur":{"name":"usd_to_eur","displayName":"usd_to_eur","identifiesControllerService":false,"sensitive":false,"dynamic":true},"eur_to_eur":{"name":"eur_to_eur","displayName":"eur_to_eur","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"9e5811b1-3b49-382b-8c52-5bdb961fa95f"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"6c157c0d-2548-39f9-a526-c147507c354d","instanceIdentifier":"863ced95-0198-1000-f7fb-ed72e51c45a2","name":"","source":{"id":"3093135d-1b94-30bc-83dd-cbc889cc7317","type":"PROCESSOR","groupId":"9e5811b1-3b49-382b-8c52-5bdb961fa95f","name":"ExecuteScript","comments":"","instanceIdentifier":"861f7e09-0198-1000-ff99-ecf5d03cc32d"},"destination":{"id":"b4781171-918a-34e1-8c1d-df4240977ac2","type":"PROCESSOR","groupId":"9e5811b1-3b49-382b-8c52-5bdb961fa95f","name":"AttributesToJSON","comments":"","instanceIdentifier":"863cdaaf-0198-1000-88a9-cebaefaae976"},"labelIndex":0,"zIndex":9,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"9e5811b1-3b49-382b-8c52-5bdb961fa95f"},{"identifier":"e2c2d63c-07ff-3543-9443-4813860c1644","instanceIdentifier":"85fc3686-0198-1000-b9be-31d8a325f438","name":"","source":{"id":"ae04a171-86c5-3363-b197-27f5eba0dda1","type":"PROCESSOR","groupId":"9e5811b1-3b49-382b-8c52-5bdb961fa95f","name":"InvokeHTTP","comments":"","instanceIdentifier":"85fa4ea4-0198-1000-7dc5-ec8529aa8eab"},"destination":{"id":"e6f21976-de33-359a-9df7-8c30eb749819","type":"PROCESSOR","groupId":"9e5811b1-3b49-382b-8c52-5bdb961fa95f","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"85fc2266-0198-1000-73c5-8049d54eee48"},"labelIndex":0,"zIndex":7,"selectedRelationships":["Response"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"9e5811b1-3b49-382b-8c52-5bdb961fa95f"},{"identifier":"ac89f67e-4c86-3914-8a3c-7da3916b560d","instanceIdentifier":"86b09058-0198-1000-428f-000bfe6f3f58","name":"","source":{"id":"f197722d-eafb-3974-ab98-52d19f17107b","type":"PROCESSOR","groupId":"9e5811b1-3b49-382b-8c52-5bdb961fa95f","name":"FetchDistributedMapCache","comments":"","instanceIdentifier":"8662b9c0-0198-1000-f2c8-fd0b7bc96476"},"destination":{"id":"f197722d-eafb-3974-ab98-52d19f17107b","type":"PROCESSOR","groupId":"9e5811b1-3b49-382b-8c52-5bdb961fa95f","name":"FetchDistributedMapCache","comments":"","instanceIdentifier":"8662b9c0-0198-1000-f2c8-fd0b7bc96476"},"labelIndex":0,"zIndex":15,"selectedRelationships":["not-found"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":221.0,"y":151.0},{"x":221.0,"y":201.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"9e5811b1-3b49-382b-8c52-5bdb961fa95f"},{"identifier":"fca595ce-c3d4-36b1-81f5-f0ac09ca78c1","instanceIdentifier":"86989687-0198-1000-50bd-93ac11d7fb46","name":"","source":{"id":"f197722d-eafb-3974-ab98-52d19f17107b","type":"PROCESSOR","groupId":"9e5811b1-3b49-382b-8c52-5bdb961fa95f","name":"FetchDistributedMapCache","comments":"","instanceIdentifier":"8662b9c0-0198-1000-f2c8-fd0b7bc96476"},"destination":{"id":"47cb697c-5040-3ac5-aae1-07fdda9cc823","type":"PROCESSOR","groupId":"9e5811b1-3b49-382b-8c52-5bdb961fa95f","name":"UpdateAttribute","comments":"","instanceIdentifier":"86983c61-0198-1000-35e5-f03c5a658232"},"labelIndex":0,"zIndex":12,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"9e5811b1-3b49-382b-8c52-5bdb961fa95f"},{"identifier":"8d8d420c-57e2-35bb-9f22-5d16f65b1bd7","instanceIdentifier":"863f6ca7-0198-1000-2ef0-357b0979448f","name":"","source":{"id":"b4781171-918a-34e1-8c1d-df4240977ac2","type":"PROCESSOR","groupId":"9e5811b1-3b49-382b-8c52-5bdb961fa95f","name":"AttributesToJSON","comments":"","instanceIdentifier":"863cdaaf-0198-1000-88a9-cebaefaae976"},"destination":{"id":"0135c8f6-ba67-3f0f-99ef-7f33ad2b4db1","type":"PROCESSOR","groupId":"9e5811b1-3b49-382b-8c52-5bdb961fa95f","name":"PutDistributedMapCache","comments":"","instanceIdentifier":"863f5aad-0198-1000-dca3-b1f114451c62"},"labelIndex":0,"zIndex":10,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"9e5811b1-3b49-382b-8c52-5bdb961fa95f"},{"identifier":"d051a825-6afa-3470-b765-44a5b2fa0003","instanceIdentifier":"85fa5885-0198-1000-e733-e7163d7c7b19","name":"","source":{"id":"14b11f8d-6ede-304f-ad2f-a0c1366c8231","type":"PROCESSOR","groupId":"9e5811b1-3b49-382b-8c52-5bdb961fa95f","name":"GenerateFlowFile","comments":"","instanceIdentifier":"85f956a6-0198-1000-164f-b8896d593d38"},"destination":{"id":"ae04a171-86c5-3363-b197-27f5eba0dda1","type":"PROCESSOR","groupId":"9e5811b1-3b49-382b-8c52-5bdb961fa95f","name":"InvokeHTTP","comments":"","instanceIdentifier":"85fa4ea4-0198-1000-7dc5-ec8529aa8eab"},"labelIndex":0,"zIndex":6,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"9e5811b1-3b49-382b-8c52-5bdb961fa95f"},{"identifier":"6f9a64fa-3cdb-34de-a9ef-4a67cbb497f9","instanceIdentifier":"86a671f6-0198-1000-ff01-cb761ed70c7e","name":"","source":{"id":"61dc9b72-c317-3be6-bd63-006a8c4e42a1","type":"PROCESSOR","groupId":"9e5811b1-3b49-382b-8c52-5bdb961fa95f","name":"ExecuteScript","comments":"","instanceIdentifier":"86a6365f-0198-1000-90eb-070de3cacd8b"},"destination":{"id":"24d34baf-bf86-3fae-87a9-ebcb64c4fbd9","type":"PROCESSOR","groupId":"9e5811b1-3b49-382b-8c52-5bdb961fa95f","name":"PutFile","comments":"","instanceIdentifier":"856b3f86-0198-1000-dbd4-98adc0258443"},"labelIndex":0,"zIndex":14,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"9e5811b1-3b49-382b-8c52-5bdb961fa95f"},{"identifier":"97399d32-7da4-3ffd-84b2-29e4ba6841b2","instanceIdentifier":"86a666ef-0198-1000-ad89-a91ff75822b6","name":"","source":{"id":"47cb697c-5040-3ac5-aae1-07fdda9cc823","type":"PROCESSOR","groupId":"9e5811b1-3b49-382b-8c52-5bdb961fa95f","name":"UpdateAttribute","comments":"","instanceIdentifier":"86983c61-0198-1000-35e5-f03c5a658232"},"destination":{"id":"61dc9b72-c317-3be6-bd63-006a8c4e42a1","type":"PROCESSOR","groupId":"9e5811b1-3b49-382b-8c52-5bdb961fa95f","name":"ExecuteScript","comments":"","instanceIdentifier":"86a6365f-0198-1000-90eb-070de3cacd8b"},"labelIndex":0,"zIndex":13,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"9e5811b1-3b49-382b-8c52-5bdb961fa95f"},{"identifier":"06d8db16-b766-32c1-9ab3-1ec393bbf139","instanceIdentifier":"8576eafa-0198-1000-2786-bc46a3ec6c09","name":"","source":{"id":"6f88908b-a1d7-3aec-a818-6099ff45f5ca","type":"PROCESSOR","groupId":"9e5811b1-3b49-382b-8c52-5bdb961fa95f","name":"GetFile","comments":"","instanceIdentifier":"8562fce0-0198-1000-bcc2-ad3cf26d5a5e"},"destination":{"id":"93e1bc31-25e2-3389-b4fc-e9df5d1395f3","type":"PROCESSOR","groupId":"9e5811b1-3b49-382b-8c52-5bdb961fa95f","name":"LookupRecord","comments":"","instanceIdentifier":"856ce61f-0198-1000-e9c4-30373b653a70"},"labelIndex":0,"zIndex":1,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"9e5811b1-3b49-382b-8c52-5bdb961fa95f"},{"identifier":"e3f9a546-8a67-3a15-9fe3-9cab1dfc8521","instanceIdentifier":"8666d23e-0198-1000-bef1-83cf7765cc50","name":"","source":{"id":"a2fddf09-d637-3db1-bb90-3c55ba0aef55","type":"PROCESSOR","groupId":"9e5811b1-3b49-382b-8c52-5bdb961fa95f","name":"QueryRecord","comments":"","instanceIdentifier":"85db7bdd-0198-1000-462c-fb8bb90723bb"},"destination":{"id":"f197722d-eafb-3974-ab98-52d19f17107b","type":"PROCESSOR","groupId":"9e5811b1-3b49-382b-8c52-5bdb961fa95f","name":"FetchDistributedMapCache","comments":"","instanceIdentifier":"8662b9c0-0198-1000-f2c8-fd0b7bc96476"},"labelIndex":0,"zIndex":11,"selectedRelationships":["calculate_tax"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"9e5811b1-3b49-382b-8c52-5bdb961fa95f"},{"identifier":"29bb0f72-f300-321f-bf8a-8ddb691e7cd5","instanceIdentifier":"861f90e5-0198-1000-cce6-0c538e1036fa","name":"","source":{"id":"e6f21976-de33-359a-9df7-8c30eb749819","type":"PROCESSOR","groupId":"9e5811b1-3b49-382b-8c52-5bdb961fa95f","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"85fc2266-0198-1000-73c5-8049d54eee48"},"destination":{"id":"3093135d-1b94-30bc-83dd-cbc889cc7317","type":"PROCESSOR","groupId":"9e5811b1-3b49-382b-8c52-5bdb961fa95f","name":"ExecuteScript","comments":"","instanceIdentifier":"861f7e09-0198-1000-ff99-ecf5d03cc32d"},"labelIndex":0,"zIndex":8,"selectedRelationships":["matched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"9e5811b1-3b49-382b-8c52-5bdb961fa95f"},{"identifier":"62c817f1-8508-3153-96d9-47b15dc91626","instanceIdentifier":"859dd7cc-0198-1000-4ea6-3b99964e0b58","name":"","source":{"id":"85908c4e-0198-1000-2b33-d9bdb5b26832","type":"PROCESSOR","groupId":"9e5811b1-3b49-382b-8c52-5bdb961fa95f","name":"LookupRecord","comments":"","instanceIdentifier":"76ad7e5e-831f-3b3a-cc89-c0bc5a823b00"},"destination":{"id":"859dc7cc-0198-1000-ad36-a5c616930929","type":"PROCESSOR","groupId":"9e5811b1-3b49-382b-8c52-5bdb961fa95f","name":"LookupRecord","comments":"","instanceIdentifier":"dd1eb293-5cda-37ad-a754-1f0105b19180"},"labelIndex":0,"zIndex":3,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"9e5811b1-3b49-382b-8c52-5bdb961fa95f"},{"identifier":"4c8d494b-51ce-3f7f-822a-20ca81d5c566","instanceIdentifier":"85db8ff4-0198-1000-09c0-1ebf79553e2d","name":"","source":{"id":"859dc7cc-0198-1000-ad36-a5c616930929","type":"PROCESSOR","groupId":"9e5811b1-3b49-382b-8c52-5bdb961fa95f","name":"LookupRecord","comments":"","instanceIdentifier":"dd1eb293-5cda-37ad-a754-1f0105b19180"},"destination":{"id":"a2fddf09-d637-3db1-bb90-3c55ba0aef55","type":"PROCESSOR","groupId":"9e5811b1-3b49-382b-8c52-5bdb961fa95f","name":"QueryRecord","comments":"","instanceIdentifier":"85db7bdd-0198-1000-462c-fb8bb90723bb"},"labelIndex":0,"zIndex":4,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"9e5811b1-3b49-382b-8c52-5bdb961fa95f"},{"identifier":"fad4f584-9c14-34cb-9c0d-7c6f9f982160","instanceIdentifier":"8590a004-0198-1000-5f20-178114affa72","name":"","source":{"id":"93e1bc31-25e2-3389-b4fc-e9df5d1395f3","type":"PROCESSOR","groupId":"9e5811b1-3b49-382b-8c52-5bdb961fa95f","name":"LookupRecord","comments":"","instanceIdentifier":"856ce61f-0198-1000-e9c4-30373b653a70"},"destination":{"id":"85908c4e-0198-1000-2b33-d9bdb5b26832","type":"PROCESSOR","groupId":"9e5811b1-3b49-382b-8c52-5bdb961fa95f","name":"LookupRecord","comments":"","instanceIdentifier":"76ad7e5e-831f-3b3a-cc89-c0bc5a823b00"},"labelIndex":0,"zIndex":2,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"9e5811b1-3b49-382b-8c52-5bdb961fa95f"}],"labels":[{"identifier":"d2e3d150-3cc0-3dc7-aef3-a03868b159fc","instanceIdentifier":"90e509f4-0198-1000-bb82-bcdec42f4043","position":{"x":-536.0,"y":-112.0},"label":"Calculate and insert subtotal, tax_amount and total_amount.","zIndex":3,"width":272.0,"height":120.0,"style":{"font-size":"20px"},"componentType":"LABEL","groupIdentifier":"9e5811b1-3b49-382b-8c52-5bdb961fa95f"},{"identifier":"771be6ad-7c80-35bc-ae93-63a499ddc0db","instanceIdentifier":"90e3736e-0198-1000-b66c-7c8abac7e67d","position":{"x":-592.0,"y":-528.0},"label":"Get orders.csv from input directory.","zIndex":1,"width":296.0,"height":72.0,"style":{"font-size":"20px"},"componentType":"LABEL","groupIdentifier":"9e5811b1-3b49-382b-8c52-5bdb961fa95f"},{"identifier":"66e3b8a0-d7ba-3211-9f4d-668b4f18b35c","instanceIdentifier":"90ee4aa3-0198-1000-c876-3f7d3b4268ea","position":{"x":1528.0,"y":224.0},"label":"Calculate inverse rates and save as attributes.","zIndex":11,"width":296.0,"height":96.0,"style":{"font-size":"20px"},"componentType":"LABEL","groupIdentifier":"9e5811b1-3b49-382b-8c52-5bdb961fa95f"},{"identifier":"20c2961b-d517-39d0-a589-5233a9f72243","instanceIdentifier":"90ebd10a-0198-1000-bf0a-3d4a32276426","position":{"x":1512.0,"y":-472.0},"label":"Create side flow file.","zIndex":8,"width":248.0,"height":96.0,"style":{"font-size":"20px"},"componentType":"LABEL","groupIdentifier":"9e5811b1-3b49-382b-8c52-5bdb961fa95f"},{"identifier":"5c370b59-2267-34c0-a8fa-b1c01afed541","instanceIdentifier":"90e65dfa-0198-1000-86a3-84dcbe0d9e95","position":{"x":-568.0,"y":120.0},"label":"Fetch excahnge rates from map cache into exchange_json attribute.","zIndex":4,"width":280.0,"height":96.0,"style":{"font-size":"20px"},"componentType":"LABEL","groupIdentifier":"9e5811b1-3b49-382b-8c52-5bdb961fa95f"},{"identifier":"ac439922-c8ea-318b-8f7d-5f1bb3d13b61","instanceIdentifier":"90e79752-0198-1000-b603-9ef92a459b3f","position":{"x":-536.0,"y":344.0},"label":"Unpack exchange_json into seperate attributes for each currency.","zIndex":5,"width":256.0,"height":104.0,"style":{"font-size":"20px"},"componentType":"LABEL","groupIdentifier":"9e5811b1-3b49-382b-8c52-5bdb961fa95f"},{"identifier":"9b8a65a6-82d4-3ccb-8a34-e1f03f214e4d","instanceIdentifier":"90ed86a3-0198-1000-99aa-9323e31a6fbc","position":{"x":1520.0,"y":-16.0},"label":"Save needed exchange rates as attributes.","zIndex":10,"width":272.0,"height":96.0,"style":{"font-size":"20px"},"componentType":"LABEL","groupIdentifier":"9e5811b1-3b49-382b-8c52-5bdb961fa95f"},{"identifier":"426b95d2-1a6f-37bb-8905-70a3ce13bfa7","instanceIdentifier":"90eb5262-0198-1000-a929-17539f950bc5","position":{"x":-512.0,"y":760.0},"label":"Save file to output_dir parameter.","zIndex":7,"width":248.0,"height":96.0,"style":{"font-size":"20px"},"componentType":"LABEL","groupIdentifier":"9e5811b1-3b49-382b-8c52-5bdb961fa95f"},{"identifier":"2cd1c223-3958-3540-b011-4d3373d0e2fc","instanceIdentifier":"90e8404b-0198-1000-e98a-58e25f793fc1","position":{"x":-496.0,"y":552.0},"label":"Calculate total_eur.","zIndex":6,"width":208.0,"height":80.0,"style":{"font-size":"20px"},"componentType":"LABEL","groupIdentifier":"9e5811b1-3b49-382b-8c52-5bdb961fa95f"},{"identifier":"d585dceb-6a14-3759-a85b-9f8c639357c9","instanceIdentifier":"90eefc72-0198-1000-c6cf-d009d1f2b8f6","position":{"x":1520.0,"y":464.0},"label":"Save inverse rates as content.","zIndex":12,"width":256.0,"height":80.0,"style":{"font-size":"20px"},"componentType":"LABEL","groupIdentifier":"9e5811b1-3b49-382b-8c52-5bdb961fa95f"},{"identifier":"274448bc-9850-356f-967c-f5c8d408ac17","instanceIdentifier":"90ed4521-0198-1000-aed7-64f5848dc9ef","position":{"x":1520.0,"y":-248.0},"label":"Get exchange rates from api.","zIndex":9,"width":264.0,"height":96.0,"style":{"font-size":"20px"},"componentType":"LABEL","groupIdentifier":"9e5811b1-3b49-382b-8c52-5bdb961fa95f"},{"identifier":"87087119-3cf2-341c-9376-b4eccb177d6d","instanceIdentifier":"90e42983-0198-1000-be89-23635ed5a799","position":{"x":224.0,"y":-416.0},"label":"Enrich data with customers.csv, products.csv, tax_rates.csv.","zIndex":2,"width":344.0,"height":88.0,"style":{"font-size":"20px"},"componentType":"LABEL","groupIdentifier":"9e5811b1-3b49-382b-8c52-5bdb961fa95f"},{"identifier":"66ff403f-f910-36df-b4ee-bc5671f1231c","instanceIdentifier":"90f07082-0198-1000-52af-a1ebf03b5e78","position":{"x":1536.0,"y":664.0},"label":"Save inverse rates to map cache.","zIndex":13,"width":248.0,"height":88.0,"style":{"font-size":"20px"},"componentType":"LABEL","groupIdentifier":"9e5811b1-3b49-382b-8c52-5bdb961fa95f"}],"funnels":[],"controllerServices":[{"identifier":"a0488162-40c9-38c1-a5ae-6e7bbff8a460","instanceIdentifier":"85d08a15-0198-1000-adeb-103072175234","name":"CSVReaderAdvancedEnriched","comments":"","type":"org.apache.nifi.csv.CSVReader","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"2.5.0"},"properties":{"schema-reference-reader":null,"ignore-csv-header":"false","schema-branch":null,"Trim double quote":"true","CSV Format":"custom","Quote Character":"\"","csvutils-allow-duplicate-header-names":"true","Value Separator":",","Record Separator":"\\n","Timestamp Format":null,"Escape Character":"\\","Date Format":null,"Null String":null,"Skip Header Line":"true","Trim Fields":"true","schema-name":"${schema.name}","schema-registry":null,"csv-reader-csv-parser":"commons-csv","Time Format":null,"Comment Marker":null,"schema-access-strategy":"schema-text-property","schema-version":null,"csvutils-character-set":"UTF-8","schema-text":"{\n  \"type\": \"record\",\n  \"name\": \"Product\",\n  \"fields\": [\n    { \"name\": \"order_id\", \"type\": \"string\" },\n    { \"name\": \"customer_id\", \"type\": \"string\" },\n    { \"name\": \"customer_name\", \"type\": \"string\" },\n    { \"name\": \"country\", \"type\": \"string\" },\n    { \"name\": \"product_id\", \"type\": \"string\" },\n    { \"name\": \"product_name\", \"type\": \"string\" },\n    { \"name\": \"price\", \"type\": \"float\" },\n    { \"name\": \"category\", \"type\": \"string\" },\n    { \"name\": \"quantity\", \"type\": \"int\" },\n    { \"name\": \"order_date\", \"type\": \"string\"},\n    { \"name\": \"currency\", \"type\": \"string\"},\n    { \"name\": \"tax_rate\", \"type\": \"float\" }\n  ]\n}"},"propertyDescriptors":{"schema-reference-reader":{"name":"schema-reference-reader","displayName":"Schema Reference Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"ignore-csv-header":{"name":"ignore-csv-header","displayName":"Ignore CSV Header Column Names","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Trim double quote":{"name":"Trim double quote","displayName":"Trim double quote","identifiesControllerService":false,"sensitive":false,"dynamic":false},"CSV Format":{"name":"CSV Format","displayName":"CSV Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Quote Character":{"name":"Quote Character","displayName":"Quote Character","identifiesControllerService":false,"sensitive":false,"dynamic":false},"csvutils-allow-duplicate-header-names":{"name":"csvutils-allow-duplicate-header-names","displayName":"Allow Duplicate Header Names","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Value Separator":{"name":"Value Separator","displayName":"Value Separator","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Record Separator":{"name":"Record Separator","displayName":"Record Separator","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Escape Character":{"name":"Escape Character","displayName":"Escape Character","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Null String":{"name":"Null String","displayName":"Null String","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Skip Header Line":{"name":"Skip Header Line","displayName":"Treat First Line as Header","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Trim Fields":{"name":"Trim Fields","displayName":"Trim Fields","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false,"dynamic":false},"csv-reader-csv-parser":{"name":"csv-reader-csv-parser","displayName":"CSV Parser","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Comment Marker":{"name":"Comment Marker","displayName":"Comment Marker","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false,"dynamic":false},"csvutils-character-set":{"name":"csvutils-character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordReaderFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.5.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"85ac4524-0198-1000-8dd9-98d9df5c408e"},{"identifier":"92d59e2a-4e07-3f6a-aa8a-671775c6c689","instanceIdentifier":"859e80bd-0198-1000-01ec-00ae895f2797","name":"CSVRecordLookupServiceTax","comments":"","type":"org.apache.nifi.lookup.CSVRecordLookupService","bundle":{"group":"org.apache.nifi","artifact":"nifi-lookup-services-nar","version":"2.5.0"},"properties":{"Escape Character":"\\","lookup-key-column":"country","csv-file":"C:\\Apache Nifi Showcase\\advanced\\lookup_data\\tax_rates.csv","Trim Fields":"true","CSV Format":"default","ignore-duplicates":"true","Quote Character":"\"","Comment Marker":null,"Value Separator":",","Character Set":"UTF-8","Quote Mode":"MINIMAL"},"propertyDescriptors":{"Escape Character":{"name":"Escape Character","displayName":"Escape Character","identifiesControllerService":false,"sensitive":false,"dynamic":false},"lookup-key-column":{"name":"lookup-key-column","displayName":"Lookup Key Column","identifiesControllerService":false,"sensitive":false,"dynamic":false},"csv-file":{"name":"csv-file","displayName":"CSV File","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}},"Trim Fields":{"name":"Trim Fields","displayName":"Trim Fields","identifiesControllerService":false,"sensitive":false,"dynamic":false},"CSV Format":{"name":"CSV Format","displayName":"CSV Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"ignore-duplicates":{"name":"ignore-duplicates","displayName":"Ignore Duplicates","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Quote Character":{"name":"Quote Character","displayName":"Quote Character","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Comment Marker":{"name":"Comment Marker","displayName":"Comment Marker","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Value Separator":{"name":"Value Separator","displayName":"Value Separator","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Character Set":{"name":"Character Set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Quote Mode":{"name":"Quote Mode","displayName":"Quote Mode","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.lookup.RecordLookupService","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.5.0"}},{"type":"org.apache.nifi.lookup.LookupService","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.5.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"85ac4524-0198-1000-8dd9-98d9df5c408e"},{"identifier":"c35588df-21b4-339d-ac67-2448e59704a2","instanceIdentifier":"85910d95-0198-1000-ca52-b637d45d2613","name":"CSVRecordLookupServiceProducts","comments":"","type":"org.apache.nifi.lookup.CSVRecordLookupService","bundle":{"group":"org.apache.nifi","artifact":"nifi-lookup-services-nar","version":"2.5.0"},"properties":{"Escape Character":"\\","lookup-key-column":"product_id","csv-file":"C:\\Apache Nifi Showcase\\advanced\\lookup_data\\products.csv","Trim Fields":"true","CSV Format":"default","ignore-duplicates":"true","Quote Character":"\"","Comment Marker":null,"Value Separator":",","Character Set":"UTF-8","Quote Mode":"MINIMAL"},"propertyDescriptors":{"Escape Character":{"name":"Escape Character","displayName":"Escape Character","identifiesControllerService":false,"sensitive":false,"dynamic":false},"lookup-key-column":{"name":"lookup-key-column","displayName":"Lookup Key Column","identifiesControllerService":false,"sensitive":false,"dynamic":false},"csv-file":{"name":"csv-file","displayName":"CSV File","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}},"Trim Fields":{"name":"Trim Fields","displayName":"Trim Fields","identifiesControllerService":false,"sensitive":false,"dynamic":false},"CSV Format":{"name":"CSV Format","displayName":"CSV Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"ignore-duplicates":{"name":"ignore-duplicates","displayName":"Ignore Duplicates","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Quote Character":{"name":"Quote Character","displayName":"Quote Character","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Comment Marker":{"name":"Comment Marker","displayName":"Comment Marker","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Value Separator":{"name":"Value Separator","displayName":"Value Separator","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Character Set":{"name":"Character Set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Quote Mode":{"name":"Quote Mode","displayName":"Quote Mode","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.lookup.RecordLookupService","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.5.0"}},{"type":"org.apache.nifi.lookup.LookupService","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.5.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"85ac4524-0198-1000-8dd9-98d9df5c408e"},{"identifier":"79cf0dba-7f3b-3764-986a-f724e62aba3d","instanceIdentifier":"7703a9e0-0198-1000-3776-713a63812274","name":"CSVRecordLookupServiceCustomers","comments":"","type":"org.apache.nifi.lookup.CSVRecordLookupService","bundle":{"group":"org.apache.nifi","artifact":"nifi-lookup-services-nar","version":"2.5.0"},"properties":{"Escape Character":"\\","lookup-key-column":"customer_id","csv-file":"C:\\Apache Nifi Showcase\\advanced\\lookup_data\\customers.csv","Trim Fields":"true","CSV Format":"default","ignore-duplicates":"true","Quote Character":"\"","Comment Marker":null,"Value Separator":",","Character Set":"UTF-8","Quote Mode":"MINIMAL"},"propertyDescriptors":{"Escape Character":{"name":"Escape Character","displayName":"Escape Character","identifiesControllerService":false,"sensitive":false,"dynamic":false},"lookup-key-column":{"name":"lookup-key-column","displayName":"Lookup Key Column","identifiesControllerService":false,"sensitive":false,"dynamic":false},"csv-file":{"name":"csv-file","displayName":"CSV File","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}},"Trim Fields":{"name":"Trim Fields","displayName":"Trim Fields","identifiesControllerService":false,"sensitive":false,"dynamic":false},"CSV Format":{"name":"CSV Format","displayName":"CSV Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"ignore-duplicates":{"name":"ignore-duplicates","displayName":"Ignore Duplicates","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Quote Character":{"name":"Quote Character","displayName":"Quote Character","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Comment Marker":{"name":"Comment Marker","displayName":"Comment Marker","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Value Separator":{"name":"Value Separator","displayName":"Value Separator","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Character Set":{"name":"Character Set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Quote Mode":{"name":"Quote Mode","displayName":"Quote Mode","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.lookup.RecordLookupService","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.5.0"}},{"type":"org.apache.nifi.lookup.LookupService","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.5.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"85ac4524-0198-1000-8dd9-98d9df5c408e"},{"identifier":"9e50b8dd-d1e7-354f-a2fb-b5f6b2764f0e","instanceIdentifier":"85a9f36d-0198-1000-50f7-9500d033f93e","name":"CSVReaderAdvancedCountry","comments":"","type":"org.apache.nifi.csv.CSVReader","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"2.5.0"},"properties":{"schema-reference-reader":null,"ignore-csv-header":"false","schema-branch":null,"Trim double quote":"true","CSV Format":"custom","Quote Character":"\"","csvutils-allow-duplicate-header-names":"true","Value Separator":",","Record Separator":"\\n","Timestamp Format":null,"Escape Character":"\\","Date Format":null,"Null String":null,"Skip Header Line":"true","Trim Fields":"true","schema-name":"${schema.name}","schema-registry":null,"csv-reader-csv-parser":"commons-csv","Time Format":null,"Comment Marker":null,"schema-access-strategy":"schema-text-property","schema-version":null,"csvutils-character-set":"UTF-8","schema-text":"{\n  \"type\": \"record\",\n  \"name\": \"Product\",\n  \"fields\": [\n    { \"name\": \"order_id\", \"type\": \"string\" },\n    { \"name\": \"customer_id\", \"type\": \"string\" },\n    { \"name\": \"product_id\", \"type\": \"string\" },\n    { \"name\": \"quantity\", \"type\": \"int\" },\n    { \"name\": \"order_date\", \"type\": \"string\"},\n    { \"name\": \"currency\", \"type\": \"string\"},\n    { \"name\": \"country\", \"type\": \"string\"}\n  ]\n}"},"propertyDescriptors":{"schema-reference-reader":{"name":"schema-reference-reader","displayName":"Schema Reference Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"ignore-csv-header":{"name":"ignore-csv-header","displayName":"Ignore CSV Header Column Names","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Trim double quote":{"name":"Trim double quote","displayName":"Trim double quote","identifiesControllerService":false,"sensitive":false,"dynamic":false},"CSV Format":{"name":"CSV Format","displayName":"CSV Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Quote Character":{"name":"Quote Character","displayName":"Quote Character","identifiesControllerService":false,"sensitive":false,"dynamic":false},"csvutils-allow-duplicate-header-names":{"name":"csvutils-allow-duplicate-header-names","displayName":"Allow Duplicate Header Names","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Value Separator":{"name":"Value Separator","displayName":"Value Separator","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Record Separator":{"name":"Record Separator","displayName":"Record Separator","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Escape Character":{"name":"Escape Character","displayName":"Escape Character","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Null String":{"name":"Null String","displayName":"Null String","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Skip Header Line":{"name":"Skip Header Line","displayName":"Treat First Line as Header","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Trim Fields":{"name":"Trim Fields","displayName":"Trim Fields","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false,"dynamic":false},"csv-reader-csv-parser":{"name":"csv-reader-csv-parser","displayName":"CSV Parser","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Comment Marker":{"name":"Comment Marker","displayName":"Comment Marker","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false,"dynamic":false},"csvutils-character-set":{"name":"csvutils-character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordReaderFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.5.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"85ac4524-0198-1000-8dd9-98d9df5c408e"},{"identifier":"e7b3c388-66b5-34d0-9524-d57c505a4d6f","instanceIdentifier":"8641c957-0198-1000-4930-cb4b532b1544","name":"MapCacheServer","comments":"","type":"org.apache.nifi.distributed.cache.server.map.MapCacheServer","bundle":{"group":"org.apache.nifi","artifact":"nifi-distributed-cache-services-nar","version":"2.5.0"},"properties":{"Eviction Strategy":"Least Frequently Used","SSL Context Service":null,"Persistence Directory":null,"maximum-read-size":"1 MB","Port":"4557","Maximum Cache Entries":"10000"},"propertyDescriptors":{"Eviction Strategy":{"name":"Eviction Strategy","displayName":"Eviction Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Persistence Directory":{"name":"Persistence Directory","displayName":"Persistence Directory","identifiesControllerService":false,"sensitive":false,"dynamic":false},"maximum-read-size":{"name":"maximum-read-size","displayName":"Maximum Read Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Port":{"name":"Port","displayName":"Port","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum Cache Entries":{"name":"Maximum Cache Entries","displayName":"Maximum Cache Entries","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"controllerServiceApis":[],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"9e5811b1-3b49-382b-8c52-5bdb961fa95f"},{"identifier":"d837a902-ea69-3f1f-9bbb-0b145e412479","instanceIdentifier":"76c550c6-0198-1000-0cec-6fc2b5f375ad","name":"CSVRecordSetWriter","comments":"","type":"org.apache.nifi.csv.CSVRecordSetWriter","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"2.5.0"},"properties":{"schema-reference-reader":null,"schema-branch":null,"CSV Format":"custom","Include Header Line":"true","schema-cache":null,"Escape Character":"\\","Date Format":null,"Null String":null,"Trim Fields":"true","schema-registry":null,"Time Format":null,"Comment Marker":null,"schema-access-strategy":"schema-text-property","schema-version":null,"csvutils-character-set":"UTF-8","schema-text":"{\n  \"type\": \"record\",\n  \"name\": \"Product\",\n  \"fields\": [\n    { \"name\": \"order_id\", \"type\": \"string\" },\n    { \"name\": \"customer_id\", \"type\": \"string\" },\n    { \"name\": \"customer_name\", \"type\": \"string\" },\n    { \"name\": \"country\", \"type\": \"string\" },\n    { \"name\": \"product_id\", \"type\": \"string\" },\n    { \"name\": \"product_name\", \"type\": \"string\" },\n    { \"name\": \"price\", \"type\": \"float\" },\n    { \"name\": \"category\", \"type\": \"string\" },\n    { \"name\": \"quantity\", \"type\": \"int\" },\n    { \"name\": \"order_date\", \"type\": \"string\"},\n    { \"name\": \"currency\", \"type\": \"string\"},\n    { \"name\": \"tax_rate\", \"type\": \"float\" },\n    { \"name\": \"subtotal\", \"type\": \"float\"},\n    { \"name\": \"tax_amount\", \"type\": \"float\"},\n    { \"name\": \"total_amount\", \"type\": \"float\"},\n    { \"name\": \"total_eur\", \"type\": [\"null\", \"float\"], \"default\": null }\n  ]\n}","csv-writer":"commons-csv","Quote Character":"\"","Value Separator":",","Record Separator":"\\n","Timestamp Format":null,"Schema Write Strategy":"no-schema","schema-name":"${schema.name}","Quote Mode":"MINIMAL","Schema Reference Writer":null,"Include Trailing Delimiter":"false"},"propertyDescriptors":{"schema-reference-reader":{"name":"schema-reference-reader","displayName":"Schema Reference Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false,"dynamic":false},"CSV Format":{"name":"CSV Format","displayName":"CSV Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Include Header Line":{"name":"Include Header Line","displayName":"Include Header Line","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-cache":{"name":"schema-cache","displayName":"Schema Cache","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Escape Character":{"name":"Escape Character","displayName":"Escape Character","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Null String":{"name":"Null String","displayName":"Null String","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Trim Fields":{"name":"Trim Fields","displayName":"Trim Fields","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Comment Marker":{"name":"Comment Marker","displayName":"Comment Marker","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false,"dynamic":false},"csvutils-character-set":{"name":"csvutils-character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false,"dynamic":false},"csv-writer":{"name":"csv-writer","displayName":"CSV Writer","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Quote Character":{"name":"Quote Character","displayName":"Quote Character","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Value Separator":{"name":"Value Separator","displayName":"Value Separator","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Record Separator":{"name":"Record Separator","displayName":"Record Separator","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Write Strategy":{"name":"Schema Write Strategy","displayName":"Schema Write Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Quote Mode":{"name":"Quote Mode","displayName":"Quote Mode","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Reference Writer":{"name":"Schema Reference Writer","displayName":"Schema Reference Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Include Trailing Delimiter":{"name":"Include Trailing Delimiter","displayName":"Include Trailing Delimiter","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordSetWriterFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.5.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"85ac4524-0198-1000-8dd9-98d9df5c408e"},{"identifier":"cfe40939-9e60-37a3-a1c7-c0993a6db475","instanceIdentifier":"856d6eff-0198-1000-8900-df9f7bce9a3a","name":"CSVReaderAdvanced","comments":"","type":"org.apache.nifi.csv.CSVReader","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"2.5.0"},"properties":{"schema-reference-reader":null,"ignore-csv-header":"false","schema-branch":null,"Trim double quote":"true","CSV Format":"custom","Quote Character":"\"","csvutils-allow-duplicate-header-names":"true","Value Separator":",","Record Separator":"\\n","Timestamp Format":null,"Escape Character":"\\","Date Format":null,"Null String":null,"Skip Header Line":"true","Trim Fields":"true","schema-name":"${schema.name}","schema-registry":null,"csv-reader-csv-parser":"commons-csv","Time Format":null,"Comment Marker":null,"schema-access-strategy":"schema-text-property","schema-version":null,"csvutils-character-set":"UTF-8","schema-text":"{\n  \"type\": \"record\",\n  \"name\": \"Product\",\n  \"fields\": [\n    { \"name\": \"order_id\", \"type\": \"string\" },\n    { \"name\": \"customer_id\", \"type\": \"string\" },\n    { \"name\": \"product_id\", \"type\": \"string\" },\n    { \"name\": \"quantity\", \"type\": \"int\" },\n    { \"name\": \"order_date\", \"type\": \"string\"},\n    { \"name\": \"currency\", \"type\": \"string\"}\n  ]\n}"},"propertyDescriptors":{"schema-reference-reader":{"name":"schema-reference-reader","displayName":"Schema Reference Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"ignore-csv-header":{"name":"ignore-csv-header","displayName":"Ignore CSV Header Column Names","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Trim double quote":{"name":"Trim double quote","displayName":"Trim double quote","identifiesControllerService":false,"sensitive":false,"dynamic":false},"CSV Format":{"name":"CSV Format","displayName":"CSV Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Quote Character":{"name":"Quote Character","displayName":"Quote Character","identifiesControllerService":false,"sensitive":false,"dynamic":false},"csvutils-allow-duplicate-header-names":{"name":"csvutils-allow-duplicate-header-names","displayName":"Allow Duplicate Header Names","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Value Separator":{"name":"Value Separator","displayName":"Value Separator","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Record Separator":{"name":"Record Separator","displayName":"Record Separator","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Escape Character":{"name":"Escape Character","displayName":"Escape Character","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Null String":{"name":"Null String","displayName":"Null String","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Skip Header Line":{"name":"Skip Header Line","displayName":"Treat First Line as Header","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Trim Fields":{"name":"Trim Fields","displayName":"Trim Fields","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false,"dynamic":false},"csv-reader-csv-parser":{"name":"csv-reader-csv-parser","displayName":"CSV Parser","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Comment Marker":{"name":"Comment Marker","displayName":"Comment Marker","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false,"dynamic":false},"csvutils-character-set":{"name":"csvutils-character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordReaderFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.5.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"85ac4524-0198-1000-8dd9-98d9df5c408e"},{"identifier":"138b262a-6540-39fa-b6f2-7946205f3b19","instanceIdentifier":"86413f8d-0198-1000-7d1c-73cf8aaffbc3","name":"MapCacheClientService","comments":"","type":"org.apache.nifi.distributed.cache.client.MapCacheClientService","bundle":{"group":"org.apache.nifi","artifact":"nifi-distributed-cache-services-nar","version":"2.5.0"},"properties":{"SSL Context Service":null,"Server Port":"4557","Server Hostname":"localhost","Communications Timeout":"30 secs"},"propertyDescriptors":{"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Server Port":{"name":"Server Port","displayName":"Server Port","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Server Hostname":{"name":"Server Hostname","displayName":"Server Hostname","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Communications Timeout":{"name":"Communications Timeout","displayName":"Communications Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.distributed.cache.client.AtomicDistributedMapCacheClient","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.5.0"}},{"type":"org.apache.nifi.distributed.cache.client.DistributedMapCacheClient","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.5.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"9e5811b1-3b49-382b-8c52-5bdb961fa95f"}],"parameterContextName":"AdvancedParameters","defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","scheduledState":"ENABLED","executionEngine":"INHERITED","maxConcurrentTasks":1,"statelessFlowTimeout":"1 min","componentType":"PROCESS_GROUP","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE"},"externalControllerServices":{},"parameterContexts":{"AdvancedParameters":{"name":"AdvancedParameters","parameters":[{"name":"output_dir","description":"Output directory.","sensitive":false,"provided":false,"value":"C:\\Apache Nifi Showcase\\advanced\\output_csv"}],"inheritedParameterContexts":[],"componentType":"PARAMETER_CONTEXT"}},"flowEncodingVersion":"1.0","parameterProviders":{},"latest":false}